@import "../../../styles/_variables.module.scss";

.blur_background {
  position: fixed;
  z-index: 900;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;

  .input_wrapper {
    @include flex_col;
    z-index: 999;
    height: fit-content;
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 20px 10px 100px 10px;
    border-style: none;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 1px rgba(10, 10, 10, 0.171),
      1px 2px 7px 0.2px rgba(10, 10, 10, 0.151);

    ol,
    select,
    input {
      margin: 5px 0 5px 0;
    }

    .close_button {
      position: absolute;
      right: 20px;
      top: 10px;
      color: $gray;
      font-size: 25px;
      font-weight: 300;
      border-style: none;
      background-color: transparent;
      height: fit-content;
      width: fit-content;
      cursor: pointer;

      &:hover {
        color: $gray_hover;
      }

      &:active:focus {
        outline: none;
      }
    }

    .input_wrapper_sub {
      @include flex_row;
      position: relative;
      top: 20px;
      padding: 20px 20px 30px 20px;

      .input_title {
        @include flex_col;
        min-width: 45px;
        flex-wrap: nowrap;
      }

      .input_body {
        @include flex_col;

        .input_content {
          border: none;
          border-bottom: $gray_border;
          background-color: transparent;
          padding: 5px;
          font-size: 0.9rem;
          font-weight: 300;

          &::placeholder {
            font-size: 0.8rem;
          }

          &:focus {
            outline: none;
          }
          &:focus::placeholder {
            color: transparent;
          }
        }

        .day_check_wrapper {
          @include flex_row;
          margin-top: 8px;

          .day_check {
            background-color: $gray;
          }

          .day_check_true {
            background-color: $green_grade_4;
          }

          .day_check,
          .day_check_true {
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 13px;
            font-weight: 400;
            width: 26px;
            height: 26px;
            margin: 0 2px 0 2px;
            text-align: center;
            border-radius: 50%;
            cursor: pointer;

            &:hover {
              background-color: $green_grade_4;
            }

            &:active {
              transform: scale(0.97);
            }
          }
        }

        .select_wrapper {
          @include flex_row;
          margin-bottom: 10px;

          select {
            height: 30px;
            font-size: 12px;
            font-weight: 400;
            margin: 5px 2px 0 2px;
            padding: 2px;
            border: 1px solid $gray;
            border-radius: 3px;
            background-color: transparent;

            &:focus {
              outline: none;
            }
          }
        }

        .daytime_delete {
          position: relative;
          top: 13px;
          left: 210px;
          width: fit-content;
          height: 5px;
          text-align: right;
          color: $green_grade_5;
          font-size: 12px;
          font-weight: 500;
          border-style: none;
          background-color: transparent;
          cursor: pointer;

          &:hover {
            color: $green_grade_4;
            transform: translate(0, -1px);
          }

          &:active {
            transform: scale(0.95);
          }

          &:focus {
            outline: none;
          }
        }
      }
    }

    .input_box_button {
      @include flex_col;
      position: absolute;
      bottom: 15px;
      left: 50%;
      margin-left: -45px;
      padding-top: 10px;
      width: 90px;
      height: 40px;
      border-style: none;
      border-radius: 5px;
      box-shadow: 0 0.5px 2px 0.5px rgba(10, 10, 10, 0.178);
      background-color: $green_grade_4;
      align-items: center;
      cursor: pointer;

      &:hover {
        transform: translate(0, -1px);
        box-shadow: 0 1px 3px 0.5px rgba(10, 10, 10, 0.144);
      }
      &:active {
        box-shadow: none;
        transform: scale(0.98);
      }
      &:focus {
        outline: none;
      }
    }

    .add_new_daytime {
      position: absolute;
      bottom: 95px;
      left: 50%;
      margin-left: -6px;

      color: rgb(173, 169, 169);
      font-size: 25px;
      font-weight: 300;
      border-style: none;
      background-color: transparent;
      height: 12px;
      width: 12px;
      cursor: pointer;

      &:hover {
        color: rgb(199, 199, 199);
      }

      &:active {
        transform: scale(0.95);
      }

      &:focus {
        outline: none;
      }
    }
  }
}
@include min {
  .input_wrapper {
    width: 330px;
    padding: 10px 5px 80px 0;

    h3 {
      font-size: 11px;
      font-weight: 400;
    }
    h4 {
      font-size: 10px;
      font-weight: 400;
      position: relative;
      top: 14px;
    }

    .input_wrapper_sub {
      .input_title {
        h3 {
          margin: 13px 8px 13px 0;
        }
      }
    }
  }
}
@include mobile {
  .input_wrapper {
    width: 340px;
    padding: 10px 20px 80px 10px;

    h3 {
      font-size: 11px;
      font-weight: 400;
    }
    h4 {
      font-size: 11px;
      font-weight: 400;
      position: relative;
      top: 14px;
    }

    .input_wrapper_sub {
      .input_title {
        h3 {
          margin: 10px 14px 15px 0;
        }
      }
    }
  }
}

@include tablet {
  .input_wrapper {
    width: 400px;
    padding: 20px 20px 80px 20px;

    h3 {
      font-size: 14px;
      font-weight: 400;
    }
    h4 {
      font-size: 14px;
      font-weight: 400;
      position: relative;
      top: 14px;
    }
    .input_wrapper_sub {
      .input_title {
        padding: 0 25px 0 8px;

        h3 {
          margin: 12px 0 10px 0;
        }
      }
    }
  }
}
@include mdDesktop {
  .input_wrapper {
    width: 400px;
    padding: 20px 20px 80px 20px;

    h3 {
      font-size: 14px;
      font-weight: 400;
    }
    h4 {
      font-size: 14px;
      font-weight: 400;
      position: relative;
      top: 14px;
    }
    .input_wrapper_sub {
      .input_title {
        padding: 0 25px 0 8px;

        h3 {
          margin: 12px 0 10px 0;
        }
      }
    }
  }
}
@include lgDesktop {
  .input_wrapper {
    width: 400px;
    padding: 20px 20px 80px 20px;

    h3 {
      font-size: 14px;
      font-weight: 400;
    }
    h4 {
      font-size: 14px;
      font-weight: 400;
      position: relative;
      top: 14px;
    }
    .input_wrapper_sub {
      .input_title {
        padding: 0 25px 0 8px;

        h3 {
          margin: 12px 0 10px 0;
        }
      }
    }
  }
}
@include max {
  .input_wrapper {
    width: 400px;
    padding: 20px 20px 80px 20px;

    h3 {
      font-size: 14px;
      font-weight: 400;
    }
    h4 {
      font-size: 14px;
      font-weight: 400;
      position: relative;
      top: 14px;
    }
    .input_wrapper_sub {
      .input_title {
        padding: 0 25px 0 8px;

        h3 {
          margin: 12px 0 10px 0;
        }
      }
    }
  }
}
