@import "../../../styles/_variables.module.scss";
.schedule_list {
  padding: 0;
  margin-top: 50px;
  color: rgb(0, 0, 0);

  .schedule_item {
    @include flex_col;
    @include align_center;
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    display: inline-block;
    margin: 2px 0 2px 0;
    padding: 2px;
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
    border-right: 1px solid rgba(77, 77, 77, 0.199);
    background-color: white;
    overflow-y: hidden;

    .item_delete_button {
      @include flex_col;
      position: absolute;
      color: rgba(26, 26, 26, 0.596);
      justify-content: center;
      background: transparent;
      p {
        cursor: pointer;

        &:hover {
          color: $green_grade_5;
        }
      }
    }

    .item_content {
      @include flex_col;
      height: 100%;
      justify-content: center;
      align-items: center;

      .item_name {
        width: 80%;
        word-break: break-all;
        margin: 0 auto;
        margin-bottom: 5px;
        font-weight: 600;
      }

      .item_place {
        width: 80%;
        margin: 0 auto;
        word-break: break-all;
        margin-bottom: 4px;
      }
      .item_time {
        width: fit-content;
        margin: 0 auto;
        word-break: break-word;
      }
    }

    .schedule_item_sub_wrapper {
      @include flex_col;
      @include align_center;
      width: 100%;
      height: 100%;
      border-radius: 5px;
      padding: 2px;
      margin: -2px -2px 0 -2px;
    }
  }
}

@include min {
  .schedule_item {
    width: 8.5%;

    .item_delete_button {
      top: 3px;
      right: 4px;
      font-size: 0.9rem;
    }

    .item_name {
      font-size: 8px;
    }
    .item_place {
      font-size: 7px;
    }
    .item_time {
      display: none;
    }
  }
}
@include mobile {
  .schedule_item {
    width: 9.5%;

    .item_delete_button {
      top: 3px;
      right: 4px;
      font-size: 0.9rem;
    }

    .item_name {
      font-size: 8px;
    }
    .item_place {
      font-size: 7px;
    }
    .item_time {
      font-size: 7px;
    }
  }
}

@include tablet {
  .schedule_item {
    width: 10%;

    .item_delete_button {
      top: 3px;
      right: 5px;
      font-size: 1rem;
    }

    .item_time {
      font-size: 7px;
    }
  }
}
@include mdDesktop {
  .schedule_item {
    width: 10.4%;

    .item_delete_button {
      top: 4px;
      right: 6px;
      font-size: 1.1rem;
    }
  }
}
@include lgDesktop {
  .schedule_item {
    width: 10.5%;

    .item_delete_button {
      top: 5px;
      right: 7px;
      font-size: 1.2rem;
    }
  }
}
@include max {
  .schedule_item {
    width: 10.9%;

    .item_delete_button {
      top: 5px;
      right: 7px;
      font-size: 1.2rem;
    }
  }
}
