@import "../../../styles/_variables.module.scss";

.table_wrapper {
  @include flex_col;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 85%;
  text-align: center;

  .table_header {
    font-size: 18px;
    font-weight: 400;
    background-color: $green_grade_4;
    width: 100%;
    height: 50px;

    tbody {
      width: 100%;
      height: 100%;

      tr {
        width: 100%;

        .table_null_head {
          width: 10%;
          border: $gray_border;
        }

        .day {
          width: 10%;
          border: $gray_border;
        }
      }
    }
  }

  .table_body {
    width: 100%;

    tbody {
      tr {
        .time {
          font-size: 14px;
          font-weight: 400;
          width: 14.275%;
          border: $gray_border;
        }

        .cols {
          width: 14.28%;
          height: 72px;
          border: $gray_border;

          .grid_top {
            height: 36px;
            border-bottom: $gray_border;
          }

          .grid_bottom {
            height: 35px;
          }
        }
      }
    }
  }
}
