@import "../../../styles/_variables.module.scss";

.table_wrapper {
  @include flex_col;
  background-color: white;
  width: fit-content;
  text-align: center;

  .table_header {
    border-bottom: $gray_border;
    font-size: 18px;
    font-weight: 400;
    color: white;

    tr {
      height: 40px;
      background-color: $green_grade_4;
    }
    th {
      width: 80px;
      border-right: $gray_border;
    }

    .table_null_head {
      width: 81px;
    }

    .day {
      border-right: $gray_border;
      width: 95px;
      margin: 0;
    }
  }

  .table_body {
    width: fit-content;
    border-spacing: 0;

    .times {
      .time {
        @include align_center;
        color: rgb(27, 27, 27);
        font-size: 14px;
        font-weight: 400;
        width: 80px;
        height: 71px;
        display: flex;
        border: $gray_border;
        border-top: none;
      }
    }

    .cols {
      .grids {
        .grid {
          width: 95px;
          height: 35px;
          border: $gray_border;
          border-left: none;
          border-top: none;
        }
      }
    }
  }
}
