@import "../../../styles/_variables.module.scss";

.wrapper {
  background-color: rgba(112, 128, 144, 0.7);
  transition: background-color ease-in-out 0.3s;
  position: absolute;
  z-index: 101;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .popup {
    background-color: white;
    position: fixed;
    width: 450px;
    height: 200px;
    border: solid 2px #85a8a1;
    border-radius: 10px;
    box-shadow: 0px 2px 12px 0px rgb(112, 128, 144);
    left: 50%;
    top: 50%;
    margin-left: -225px;
    margin-top: -125px;

    .innerPopup {
      display: flex;
      flex-direction: column;
      margin: 20px 20px;
      width: 410px;
      height: 160px;

      .titleDiv {
        width: 100%;
        height: 30px;

        p {
          font-size: 20px;
        }
      }
      .inputDiv {
        width: 100%;
        height: 100px;

        input {
          margin-top: 32px;
          font-size: 17px;
          width: 99%;
          outline-color: $green_grade_5;
        }
      }

      .btnDiv {
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: row-reverse;

        button {
          background-color: $green_grade_3;
          color: white;
          height: 40px;
          width: 60px;
          border-radius: 5px;
          margin-left: 20px;
          border: none;
          cursor: pointer;
          outline: none;
          box-shadow: 0px 4px 4px -4px slategray;
          transition: box-shadow 0.3s ease-in-out,
            background-color 0.2s ease-in-out;
        }
        button:hover {
          box-shadow: 0px 2px 5px -1px slategray;
        }
        button:active {
          background-color: $green_grade_5;
        }
      }
    }
  }
}
