@import "../../../styles/_variables.module.scss";

.wrapper {
  transition: background-color ease-in-out 0.3s;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .popup {
    height: 250px;
    border-radius: 4px;
    box-shadow: 0px 2px 12px 3px rgba(36, 36, 36, 0.26);

    .innerPopup {
      height: 190px;
      margin: 30px auto;
      display: flex;
      flex-direction: column;

      .titleDiv {
        margin-left: 6px;
        width: 100%;
        height: 30px;

        p {
          font-size: 18px;
          font-weight: bold;
          color: $green_grade_5;
        }
      }

      .inputDiv {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;

        input {
          font-size: 1rem;
          padding: 10px 5px;
          border: none;
          border-bottom: $gray_border;

          &:focus {
            outline: none;
          }
        }
      }

      .btnDiv {
        width: 100%;
        position: relative;
        bottom: -40px;

        button {
          float: right;
          height: 40px;
          width: 80px;
          border-radius: 5px;
          margin-left: 12px;
          margin-right: 4px;
          border: none;
          cursor: pointer;
          outline: none;
          font-size: 1rem;
          font-weight: 400;
          box-shadow: 0 0.5px 2px 0.5px rgba(10, 10, 10, 0.178);
          transition: box-shadow 0.3s ease-in-out,
            background-color 0.2s ease-in-out;
          &:hover {
            transform: translate(0, -1px);
            box-shadow: 0 1px 3px 0.5px rgba(10, 10, 10, 0.144);
          }
          &:active {
            box-shadow: none;
            transform: scale(0.98);
          }
        }

        .cancel_button {
          background-color: rgba(152, 152, 155, 0.651);
        }
        .submit_button {
          background-color: $green_grade_4;
        }
      }
    }
  }
}

@include min {
  .popup {
    width: 350px;

    .innerPopup {
      width: 300px;
    }
    .inputDiv {
      input {
        width: 280px;
      }
    }
  }
}
@include mobile {
  .popup {
    width: 400px;

    .innerPopup {
      width: 320px;
    }

    .inputDiv {
      input {
        width: 300px;
      }
    }
  }
}

@include tablet {
  .popup {
    width: 450px;

    .innerPopup {
      width: 380px;
    }

    .inputDiv {
      input {
        width: 360px;
      }
    }
  }
}
@include mdDesktop {
  .popup {
    width: 450px;

    .innerPopup {
      width: 380px;
    }
    .inputDiv {
      input {
        width: 360px;
      }
    }
  }
}
@include lgDesktop {
  .popup {
    width: 450px;

    .innerPopup {
      width: 380px;
    }
    .inputDiv {
      input {
        width: 360px;
      }
    }
  }
}
@include max {
  .popup {
    width: 450px;

    .innerPopup {
      width: 380px;
    }
    .inputDiv {
      input {
        width: 360px;
      }
    }
  }
}
