@import "../../../styles/_variables.module.scss";

.wrapper {
  transition: background-color ease-in-out 0.3s;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .popup {
    height: 250px;
    border-radius: 4px;
    box-shadow: 0px 2px 12px 3px rgba(36, 36, 36, 0.26);

    .innerPopup {
      height: 180px;
      margin: 30px auto;
      display: flex;
      flex-direction: column;

      .titleDiv {
        width: 100%;
        height: 15px;

        p {
          font-size: 18px;
          font-weight: bold;
          color: $green_grade_5;
        }
      }

      .targetDiv {
        width: 100%;
        height: 140px;
        @include flex_col;
        justify-content: center;
        margin-top: 5px;

        p {
          margin-left: 1px;
          margin-bottom: 5px;
          font-size: 13px;
        }

        .childTitleDiv {
          height: 80px;
          margin-top: 5px;
          @include flex_col;
          overflow: scroll;
          overflow-y: auto;
          border: 1px solid $gray;
          border-radius: 3px;

          b {
            margin: 5px 0 2px 10px;
            font-size: 12px;
          }
        }
      }

      .btnDiv {
        width: 100%;
        position: relative;
        bottom: -20px;

        button {
          float: right;
          height: 40px;
          width: 80px;
          border-radius: 5px;
          margin-left: 12px;
          margin-right: 4px;
          border: none;
          cursor: pointer;
          outline: none;
          font-size: 1rem;
          font-weight: 400;
          box-shadow: 0 0.5px 2px 0.5px rgba(10, 10, 10, 0.178);
          transition: box-shadow 0.3s ease-in-out,
            background-color 0.2s ease-in-out;

          &:hover {
            transform: translate(0, -1px);
            box-shadow: 0 1px 3px 0.5px rgba(10, 10, 10, 0.144);
          }
          &:active {
            box-shadow: none;
            transform: scale(0.98);
          }
        }
        .cancel_button {
          background-color: rgba(152, 152, 155, 0.651);
        }
        .submit_button {
          background-color: $green_grade_4;
        }
      }
    }
  }
}

@include min {
  .popup {
    width: 350px;

    .innerPopup {
      width: 300px;
    }

    .childTitleDiv {
      width: 290px;
    }
  }
}
@include mobile {
  .popup {
    width: 400px;

    .innerPopup {
      width: 320px;
    }

    .childTitleDiv {
      width: 310px;
    }
  }
}

@include tablet {
  .popup {
    width: 450px;

    .innerPopup {
      width: 380px;
    }

    .childTitleDiv {
      width: 370px;
    }
  }
}
@include mdDesktop {
  .popup {
    width: 450px;

    .innerPopup {
      width: 380px;
    }
    .childTitleDiv {
      width: 370px;
    }
  }
}
@include lgDesktop {
  .popup {
    width: 450px;

    .innerPopup {
      width: 380px;
    }
    .childTitleDiv {
      width: 370px;
    }
  }
}
@include max {
  .popup {
    width: 450px;

    .innerPopup {
      width: 380px;
    }
    .childTitleDiv {
      width: 370px;
    }
  }
}
