@import "../../../styles/_variables.module.scss";

.wrapper {
  @include flex_col;
  align-items: center;
  width: 100%;
  height: 80%;
  overflow: scroll;
  position: absolute;
  top: 140px;

  .editor_wrapper_dark {
    background-color: $dark_bg;
  }
  .editor_wrapper {
    background-color: white;
  }

  .editor_wrapper,
  .editor_wrapper_dark {
    border-radius: 3px;
    height: fit-content;
    justify-content: center;
    display: flex;

    .editor {
      height: fit-content;
      min-width: 250px;
      padding: 20px 0 40px 0;
    }
  }
}

@include min {
  .editor_wrapper,
  .editor_wrapper_dark {
    width: 325px;
    .editor {
      width: 80%;
    }
  }
}
@include mobile {
  .editor_wrapper,
  .editor_wrapper_dark {
    width: 80%;
    .editor {
      width: 85%;
    }
  }
}

@include tablet {
  .editor_wrapper,
  .editor_wrapper_dark {
    width: 80%;
    .editor {
      width: 90%;
    }
  }
}
@include mdDesktop {
  .editor_wrapper,
  .editor_wrapper_dark {
    width: 80%;
    .editor {
      width: 90%;
    }
  }
}
@include lgDesktop {
  .editor_wrapper,
  .editor_wrapper_dark {
    width: 55%;
    .editor {
      width: 90%;
    }
  }
}
@include max {
  .editor_wrapper,
  .editor_wrapper_dark {
    width: 55%;
    .editor {
      width: 90%;
    }
  }
}
