@import "../../../styles/_variables.module.scss";

.folderList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 90px;

  .folderContainer {
    width: 100%;
    max-width: 80%;
    height: 100%;
    margin-top: 30px;
    display: flex;

    .folderDiv {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      width: 100%;

      .folders,
      .foldersSelected {
        border: solid 1px $green_grade_3;
        border-radius: 5px;
        margin: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 150px;
      }

      .folders {
        .iconDiv {
          height: 60px;
          width: 60px;
          pointer-events: none;

          .folderIcon {
            color: $green_grade_5;
            width: 100%;
            height: 100%;
            pointer-events: none;
          }
        }

        .titleDiv {
          width: 100%;
          text-align: center;
          pointer-events: none;

          p {
            margin: 10px 15px;
            font-size: 13px;
            pointer-events: none;
          }
        }
      }
      .folders:focus {
        outline: none;
      }

      .foldersSelected {
        background-color: $green_grade_3;

        &:focus {
          outline: none;
        }

        .iconDiv {
          height: 60px;
          width: 60px;
          pointer-events: none;

          .folderIcon {
            color: white;
            width: 100%;
            height: 100%;
            pointer-events: none;
          }
        }

        .titleDiv {
          width: 100%;
          text-align: center;
          pointer-events: none;

          p {
            color: white;
            margin: 10px 15px;
            font-size: 13px;
            pointer-events: none;
          }
        }
      }
    }
  }

  .toolDiv {
    position: fixed;
    left: 50%;
    bottom: 50px;
    margin-left: -215px;
    height: fit-content;
    width: 430px;
    display: flex;
    justify-content: space-evenly;

    .addBtn,
    .renameBtn,
    .deleteBtn {
      background-color: $green_grade_4;
      display: flex;
      color: white;
      height: 30px;
      border-radius: 50px;
      padding: 10px 0 8px 0;
      border-style: none;
      cursor: pointer;
      box-shadow: 0 2px 6px 1px rgba(10, 10, 10, 0.192);
      justify-content: center;
      text-align: center;
      margin: 0 10px;

      &:hover {
        transform: translate(0, -2px);
        box-shadow: 0 3px 7px 1px rgba(10, 10, 10, 0.123);
      }
      &:active {
        box-shadow: none;
        transform: scale(0.99);
      }
    }

    .addBtn {
      width: 150px;
    }

    .renameBtn {
      width: 110px;

      .renameIcon {
        pointer-events: none;
      }
    }

    .deleteBtn {
      width: 110px;

      .deleteIcon {
        pointer-events: none;
      }
    }

    .hideRenameBtn,
    .hideDelBtn {
      display: none;
    }
  }
}

@include over1100 {
}

@include under1100 {
}
