@import "../../../styles/_variables.module.scss";

.folderList {
  @include flex_col;
  align-items: center;
  width: 100%;
  height: 80%;
  overflow: scroll;
  position: relative;
  top: 110px;

  .folderContainer {
    height: fit-content;
    margin-top: 30px;
    display: flex;
    align-items: center;

    .folderDiv {
      @include flex_row;
      flex-wrap: wrap;
      width: fit-content;

      .folders,
      .foldersSelected {
        border: solid 1px $green_grade_3;
        border-radius: 5px;
        margin: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 150px;
      }

      .folders {
        .iconDiv {
          height: 60px;
          width: 60px;
          pointer-events: none;

          .folderIcon {
            color: $green_grade_5;
            width: 100%;
            height: 100%;
            pointer-events: none;
          }
        }

        .titleDiv {
          width: 100%;
          text-align: center;
          pointer-events: none;

          p {
            margin: 10px 15px;
            font-size: 13px;
            pointer-events: none;
          }
        }
      }
      .folders:focus {
        outline: none;
      }

      .foldersSelected {
        &:focus {
          outline: none;
        }

        .iconDiv {
          height: 60px;
          width: 60px;
          pointer-events: none;

          .folderIcon {
            width: 100%;
            height: 100%;
            pointer-events: none;
          }
        }

        .titleDiv {
          width: 100%;
          text-align: center;
          pointer-events: none;

          p {
            margin: 10px 15px;
            font-size: 13px;
            pointer-events: none;
          }
        }
      }
    }
  }

  .toolDiv {
    position: fixed;
    left: 50%;
    bottom: 50px;
    margin-left: -125px;
    height: fit-content;
    width: 250px;
    display: flex;
    justify-content: space-evenly;

    .addBtn,
    .renameBtn,
    .deleteBtn {
      display: flex;
      border-radius: 50px;
      padding: 9px;
      border-style: none;
      cursor: pointer;
      box-shadow: 0 2px 6px 1px rgba(10, 10, 10, 0.192);
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 0 10px;

      &:hover {
        transform: translate(0, -2px);
        box-shadow: 0 3px 7px 1px rgba(10, 10, 10, 0.123);
      }
      &:active {
        box-shadow: none;
        transform: scale(0.99);
      }
    }

    .addBtn {
      width: 50px;
      height: 50px;

      span {
        font-size: 30px;
        font-weight: 500;
        padding-bottom: 5px;
      }
    }

    .renameBtn,
    .deleteBtn {
      width: 30px;
      height: 30px;
      margin-top: 20px;
    }

    .renameBtn {
      .renameIcon {
        pointer-events: none;
      }
    }

    .deleteBtn {
      .deleteIcon {
        pointer-events: none;
      }
    }

    .hideRenameBtn,
    .hideDelBtn {
      display: none;
    }
  }
}

@include min {
  .folderContainer {
    width: 325px;
  }
}
@include mobile {
  .folderContainer {
    width: 80%;
  }
}

@include tablet {
  .folderContainer {
    width: 80%;
  }
}
@include mdDesktop {
  .folderContainer {
    width: 80%;
  }
}
@include lgDesktop {
  .folderContainer {
    width: 55%;
  }
}
@include max {
  .folderContainer {
    width: 55%;
  }
}
