@import "../../../styles/_variables.module.scss";

.wrapper {
  position: fixed;
  top: 170px;
  left: 50%;
  transform: translate(-50%, 0%);

  .spinner {
    color: $green_grade_5;
  }
}

.wrapperType {
  margin-top: 4px;
  margin-right: 20px;
  .spinnerType {
    color: $green_grade_5;
  }
}
