@import "../../../styles/_variables.module.scss";

.top_bar_dark {
  background-color: rgb(53, 54, 58);
}
.top_bar_light {
  background-color: white;
}

.text_light {
  color: $dark_text_b;
}
.text_dark {
  color: $dark_text_3;
}

.folders_dark {
  background-color: rgb(32, 33, 36);
  border: solid 1px $gray;
}

.folders_light {
  background-color: white;
  border: solid 1px $green_grade_3;
}

.selected_light {
  background-color: $green_grade_3;
  border: solid 1px $green_grade_3;
  color: white;
  p {
    color: white;
  }
  .folderIcon_light {
    color: white;
  }
}
.selected_dark {
  background-color: $green_grade_4;
  border: solid 1px $green_grade_4;
  color: $dark_text_b;
  p {
    color: $dark_text_b;
  }
  .folderIcon_dark {
    color: $dark_text_b;
  }
}

.btn_dark {
  color: $dark_text_b;
  background-color: $green_grade_5;
}
.btn_light {
  color: white;
  background-color: $green_grade_4;
}

.notes_light {
  color: $dark_text_b;
  border-bottom: 1px solid $gray;
  .timeDiv_light {
    color: $dark_text_b;
    p,
    span,
    b,
    small {
      color: $dark_text_b;
    }
  }
}
.notes_dark {
  color: $dark_text_3;
  border-bottom: 1px solid $gray;
  .timeDiv_dark {
    color: $dark_text_2;
    p,
    span,
    b,
    small {
      color: $dark_text_3;
    }
  }
}

.note_selected_light {
  background-color: $green_grade_3;
  border-bottom: 1px solid $green_grade_3;

  .note_icon_light {
    color: white;
  }

  p {
    color: white;
  }

  .timeDiv_light {
    color: $dark_text_2;

    p,
    span,
    b,
    small {
      color: white;
    }
  }
}

.note_selected_dark {
  background-color: $green_grade_4;
  border-bottom: 1px solid $green_grade_4;
  .note_icon_dark {
    color: white;
  }

  p {
    color: white;
  }

  .timeDiv_dark {
    color: $dark_text_b;

    p,
    span,
    b,
    small {
      color: white;
    }
  }
}

.wrapper_light {
  background-color: rgba(36, 36, 36, 0.144);

  .popup_light {
    background-color: white;
    input {
      background-color: transparent;
      color: $dark_text_b;
    }

    button {
      color: white;
    }
  }
}
.wrapper_dark {
  background-color: rgba(0, 0, 0, 0.6);
  .popup_dark {
    background-color: $dark_default;

    p,
    b {
      color: $dark_text_3;
    }

    input {
      background-color: transparent;
      color: $dark_text_3;
    }

    button {
      color: $dark_text_b;
    }
  }
}
