@import "../../../styles/_variables.module.scss";

.noteList {
  @include flex_col;
  align-items: center;
  width: 100%;
  height: 80%;
  overflow: scroll;
  position: relative;
  top: 110px;

  .noteContainer {
    height: fit-content;
    margin-top: 30px;

    .noteDiv {
      @include flex_col;
      align-items: center;
      width: 100%;

      .notes {
        color: rgb(17, 17, 17);
        .noteIcon {
          color: $green_grade_5;
        }
      }

      .notesSelected {
        .noteIcon {
          color: white;
        }
      }

      .notes,
      .notesSelected {
        border: solid 1px $green_grade_2;
        border-radius: 3px;
        margin: 3px 0;
        @include flex_row;
        justify-content: space-between;
        width: 100%;
        height: 50px;

        .note_front {
          @include flex_row;
          .iconDiv {
            height: 100%;
            width: 50px;
            pointer-events: none;

            .noteIcon {
              width: 30px;
              height: 30px;
              margin-top: 10px;
              margin-left: 10px;
              pointer-events: none;
            }
          }

          .titleDiv {
            display: flex;
            align-items: center;
            pointer-events: none;

            p {
              font-size: 1.1rem;
              margin-left: 5px;
              pointer-events: none;
            }
          }
        }

        .timeDiv {
          display: flex;
          align-items: center;
          pointer-events: none;
          margin-right: 15px;

          small {
            font-size: 7px;
            color: rgb(17, 17, 17);
            font-weight: 500;
            pointer-events: none;
          }
        }
      }
      .notes:focus {
        outline: none;
      }
      .notesSelected {
        background-color: $green_grade_3;

        .iconDiv {
          .noteIcon {
            color: white;
          }
        }

        .titleDiv {
          p {
            color: white;
            font-weight: bold;
          }
        }
        .timeDiv {
          small {
            color: white;
          }
        }
      }
      .notesSelected:focus {
        outline: none;
      }
    }
  }

  .toolDiv {
    position: fixed;
    left: 50%;
    bottom: 50px;
    margin-left: -125px;
    height: fit-content;
    width: 250px;
    display: flex;
    justify-content: space-evenly;

    .addBtn,
    .renameBtn,
    .deleteBtn {
      background-color: $green_grade_4;
      display: flex;
      color: white;
      border-radius: 50px;
      padding: 9px;
      border-style: none;
      cursor: pointer;
      box-shadow: 0 2px 6px 1px rgba(10, 10, 10, 0.192);
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 0 10px;

      &:hover {
        transform: translate(0, -2px);
        box-shadow: 0 3px 7px 1px rgba(10, 10, 10, 0.123);
      }
      &:active {
        box-shadow: none;
        transform: scale(0.99);
      }
    }

    .addBtn {
      width: 50px;
      height: 50px;

      span {
        font-size: 30px;
        font-weight: 500;
        padding-bottom: 5px;
      }
    }

    .renameBtn,
    .deleteBtn {
      width: 30px;
      height: 30px;
      margin-top: 20px;
    }

    .renameBtn {
      .renameIcon {
        pointer-events: none;
      }
    }

    .deleteBtn {
      .deleteIcon {
        pointer-events: none;
      }
    }

    .hideRenameBtn,
    .hideDelBtn {
      display: none;
    }
  }
}

@include min {
  .noteContainer {
    width: 325px;
  }
}
@include mobile {
  .noteContainer {
    width: 80%;
  }
}

@include tablet {
  .noteContainer {
    width: 80%;
  }
}
@include mdDesktop {
  .noteContainer {
    width: 80%;
  }
}
@include lgDesktop {
  .noteContainer {
    width: 55%;
  }
}
@include max {
  .noteContainer {
    width: 55%;
  }
}
