@import "../../../styles/_variables.module.scss";

.noteList {
  width: 900px;
  height: 100%;

  margin: 0 auto;
  margin-top: 90px;

  .noteContainer {
    margin: 0 auto;

    width: 100%;
    height: 100%;
    // background-color: skyblue;

    .noteDiv {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;

      width: 100%;
      .notes {
        border: solid 2px $green_grade_2;
        border-radius: 10px;
        margin: 10px 13px;

        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        width: 420px;
        height: 50px;

        .iconDiv {
          height: 100%;
          width: 50px;

          pointer-events: none;
          .noteIcon {
            color: $green_grade_5;

            width: 30px;
            height: 30px;

            margin-top: 10px;
            margin-left: 10px;

            pointer-events: none;
          }
        }

        .titleDiv {
          margin: auto;
          margin-left: 1%;
          margin-top: 13px;

          pointer-events: none;
          p {
            font-size: 17px;

            pointer-events: none;
          }
        }
        .timeDiv {
          align-self: flex-end;
          margin-right: 5px;
          margin-bottom: 17px;

          pointer-events: none;
          small {
            font-size: 7px;
            color: black;

            pointer-events: none;
          }
        }
      }
      .notes:focus {
        outline: none;
      }
      .notesSelected {
        background-color: $green_grade_3;
        border: solid 2px $green_grade_2;
        border-radius: 10px;
        margin: 10px 13px;

        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        width: 420px;
        height: 50px;

        .iconDiv {
          pointer-events: none;

          height: 100%;
          width: 50px;

          .noteIcon {
            color: white;

            width: 30px;
            height: 30px;

            margin-top: 10px;
            margin-left: 10px;

            pointer-events: none;
          }
        }

        .titleDiv {
          margin: auto;
          margin-left: 1%;
          margin-top: 13px;

          pointer-events: none;
          p {
            color: white;
            font-size: 17px;

            pointer-events: none;
          }
        }
        .timeDiv {
          align-self: flex-end;
          margin-right: 5px;
          margin-bottom: 17px;

          pointer-events: none;
          small {
            color: white;
            font-size: 7px;

            pointer-events: none;
          }
        }
      }
      .notesSelected:focus {
        outline: none;
      }
    }
  }

  .toolDiv {
    // background-color: fuchsia;

    position: fixed;
    left: 50%;
    bottom: 50px;

    margin-left: -200px;

    height: 50px;
    width: 400px;

    display: flex;
    justify-content: space-evenly;

    .hideRenameBtn {
      display: none;
    }

    .renameBtn {
      background-color: $green_grade_4;
      color: white;

      height: 50px;
      width: 100px;
      border-radius: 100px;

      border: none;
      cursor: pointer;
      outline: none;

      box-shadow: 0px 5px 10px -5px slategray;

      transition: box-shadow 0.3s ease-in-out, background-color 0.2s ease-in-out;

      .renameIcon {
        pointer-events: none;
      }
    }
    .renameBtn:hover {
      box-shadow: 0px 2px 12px 0px slategray;
    }
    .renameBtn:active {
      background-color: $green_grade_5;
    }

    .addBtn {
      background-color: $green_grade_4;
      color: white;

      height: 50px;
      width: 100px;
      border-radius: 100px;

      // margin-left: 150px;

      border: none;
      cursor: pointer;
      outline: none;

      box-shadow: 0px 5px 10px -5px slategray;

      transition: box-shadow 0.3s ease-in-out, background-color 0.2s ease-in-out;

      .addIcon {
        pointer-events: none;
      }
    }
    .addBtn:hover {
      box-shadow: 0px 2px 12px 0px slategray;
    }
    .addBtn:active {
      background-color: $green_grade_5;
    }

    .hideDelBtn {
      display: none;
    }

    .deleteBtn {
      background-color: $green_grade_4;
      color: white;

      height: 50px;
      width: 100px;
      border-radius: 100px;

      border: none;
      cursor: pointer;
      outline: none;

      box-shadow: 0px 5px 10px -5px slategray;

      transition: box-shadow 0.3s ease-in-out, background-color 0.2s ease-in-out;

      .deleteIcon {
        pointer-events: none;
      }
    }
    .deleteBtn:hover {
      box-shadow: 0px 2px 12px 0px slategray;
    }
    .deleteBtn:active {
      background-color: $green_grade_5;
    }
  }
}
