@import "../../../styles/_variables.module.scss";

.wrapper {
  height: 30px;
  position: fixed;
  top: 90px;
  background-color: white;

  border-bottom: 1.5px solid $green_grade_4;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .route {
    padding: 10px 7px 10px 10px;
    font-size: 12px;
  }

  .editDiv {
    display: flex;

    .isSavedDiv {
      display: flex;
      .savedIcons {
        color: $green_grade_4;
        margin-top: 3px;
      }
      .savedText {
        margin-top: 7px;
        font-size: 15px;
        color: $green_grade_4;
      }
    }

    .editBtn {
      width: 70px;
      border-radius: 20px;
      border: 1px solid $green_grade_4;

      margin-left: 20px;

      cursor: pointer;
      .editIcons {
        color: $green_grade_4;
        margin-top: 1px;
        margin-left: 23px;
      }
    }
  }
}

@include min {
  .wrapper {
    width: 325px;
  }
}
@include mobile {
  .wrapper {
    width: 80%;
  }
}

@include tablet {
  .wrapper {
    width: 80%;
  }
}
@include mdDesktop {
  .wrapper {
    width: 80%;
  }
}
@include lgDesktop {
  .wrapper {
    width: 55%;
  }
}
@include max {
  .wrapper {
    width: 55%;
  }
}
