@import "../../../styles/util.module.scss";

.wrapper {
  // background-color: aqua;
  margin: 0 auto;

  width: 900px;
  height: 30px;

  .route {
    padding: 7.5px 15px;
    font-size: 12px;

    border-bottom: 1.5px solid $green_grade_4;
  }
}
