@import "../../../styles/_variables.module.scss";

.wrapper {
  position: fixed;
  margin-top: 100px;

  width: 100%;
  height: fit-content;
  min-height: 100%;

  .calendarDiv {
    flex-grow: 1;
  }
}

@include min {
  .calendarDiv {
    margin: 0 5%;
  }

  .dash {
    display: none;
  }
}
@include mobile {
  .calendarDiv {
    margin: 0 5%;
  }
  .dash {
    display: none;
  }
}

@include tablet {
  .calendarDiv {
    margin: 0 10%;
  }

  .dash {
    display: none;
  }
}
@include mdDesktop {
  .calendarDiv {
    margin: 0 10%;
  }
}
@include lgDesktop {
  .calendarDiv {
    margin: 0 15%;
  }
}
@include max {
  .calendarDiv {
    margin: 0 15%;
  }
}
