@import "../../../styles/_variables.module.scss";

.wrapper {
  background-color: rgba(112, 128, 144, 0.7);

  transition: background-color ease-in-out 0.3s;

  position: absolute;
  z-index: 101;

  margin: 0;
  padding: 0;
  top: 0;
  left: 0;

  width: 100%;
  height: 130%;

  .popupWrapper {
    background-color: white;

    position: fixed;

    width: 800px;
    height: 500px;

    border: solid 2px #85a8a1;
    border-radius: 10px;
    box-shadow: 0px 2px 12px 0px rgb(112, 128, 144);

    // getting it to fix in the middle of screen; any better ways?
    left: 50%;
    top: 50%;

    transform: translate(-400px, -225px);

    .popup {
      background-color: white;
      display: flex;
      flex-direction: column;

      margin: 15px 25px;

      width: 750px;
      height: 470px;
      .titleDiv {
        input {
          margin-top: 5px;
          font-size: 35px;
          width: 99%;

          outline: none;
          border: none;
        }
      }
      .timeSetDiv {
        margin-top: 10px;
        display: flex;
        flex-direction: row;

        .checkboxDiv {
          .checkbox {
            color: $green_grade_4;
            &:checked {
              color: $green_grade_5;
            }
          }
        }

        .selectDiv {
          margin-top: 4px;
          margin-left: 30px;
          display: flex;
          flex-direction: row;

          form {
            margin: 0 7px;
          }

          p {
            margin-top: 7px;
          }
        }
      }
      .noteDiv {
        margin-top: 10px;

        height: 330px;
      }
      .btnDiv {
        width: 100%;
        height: 40px;

        display: flex;

        flex-direction: row-reverse;
        button {
          background-color: $green_grade_3;
          color: white;

          height: 40px;
          width: 60px;
          border-radius: 5px;

          margin-left: 20px;

          border: none;
          cursor: pointer;
          outline: none;

          box-shadow: 0px 4px 4px -4px slategray;

          transition: box-shadow 0.3s ease-in-out,
            background-color 0.2s ease-in-out;

          &:hover {
            box-shadow: 0px 2px 5px -1px slategray;
          }
          &:active {
            background-color: $green_grade_5;
          }
        }
      }
    }
  }
}
