@import "../../../styles/_variables.module.scss";

.wrapper {
  background-color: rgba(112, 128, 144, 0.7);
  transition: background-color ease-in-out 0.3s;
  position: fixed;
  z-index: 101;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .popupWrapper {
    background-color: white;
    position: fixed;
    height: 400px;
    border-radius: 4px;
    box-shadow: 0px 2px 12px 3px rgba(36, 36, 36, 0.26);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @include flex_col;
    justify-content: center;
    align-items: center;

    .popup {
      background-color: white;
      @include flex_col;
      width: 90%;
      height: 90%;

      .titleDiv {
        padding-left: 1px;

        input {
          margin-top: 5px;
          font-size: 1.2rem;
          width: 99%;
          outline: none;
          border: none;
          font-weight: 400;

          &::placeholder {
            color: rgba(138, 143, 172, 0.7);
          }
        }
      }

      .timeSetDiv {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        width: fit-content;
        align-items: center;

        .checkboxDiv {
          width: fit-content;

          .dayLabel {
            margin: 0;

            .checkbox {
              color: $green_grade_4;
            }
          }
        }

        .selectdiv {
          .container {
          }
        }
      }

      .selectDiv {
        font-size: 12px;
        margin-top: 4px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        form {
          margin: 0 7px;
        }

        p {
          margin-top: 7px;
        }
      }
    }

    .noteDiv {
      margin-top: 10px;
      height: 330px;
      overflow-y: scroll;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    .btnDiv {
      width: 100%;
      height: 40px;
      display: flex;
      flex-direction: row-reverse;

      button {
        float: right;
        color: white;
        height: 40px;
        width: 80px;
        border-radius: 5px;
        margin-left: 12px;
        margin-right: 4px;
        border: none;
        cursor: pointer;
        outline: none;
        font-size: 1rem;
        font-weight: 400;
        box-shadow: 0 0.5px 2px 0.5px rgba(10, 10, 10, 0.178);
        transition: box-shadow 0.3s ease-in-out,
          background-color 0.2s ease-in-out;

        &:hover {
          transform: translate(0, -1px);
          box-shadow: 0 1px 3px 0.5px rgba(10, 10, 10, 0.144);
        }

        &:active {
          box-shadow: none;
          transform: scale(0.98);
        }
      }

      .cancel_button,
      .remove_button {
        background-color: rgb(185, 185, 185);
      }

      .submit_button {
        background-color: $green_grade_4;
      }
    }
  }
}

@include min {
  .popupWrapper {
    width: 350px;
    .selectDiv {
      flex: 1;
    }
  }
  .dash {
    display: none;
  }
}
@include mobile {
  .popupWrapper {
    width: 450px;
    .selectDiv {
      flex: 1;
    }
  }

  .dash {
    display: none;
  }
}

@include tablet {
  .popupWrapper {
    width: 600px;
    .selectDiv {
      flex: 1;
    }
  }

  .dash {
    display: none;
  }
}
@include mdDesktop {
  .popupWrapper {
    width: 800px;
  }
  .checkboxDiv {
    width: fit-content;
  }
}
@include lgDesktop {
  .popupWrapper {
    width: 800px;
  }
  .checkboxDiv {
    width: fit-content;
  }
}
@include max {
  .popupWrapper {
    width: 800px;
  }

  .checkboxDiv {
    width: fit-content;
  }
}
