.calendarWrapper > h2 {
  margin: 0;
  font-size: 16px;
}

.calendarWrapper > ul {
  margin: 0;
  padding: 0 0 0 1.5em;
}

.calendarWrapper > li {
  margin: 1.5em 0;
  padding: 0;
}

.calendarWrapper > b {
  /* used for event dates/times */
  margin-right: 3px;
}

.app {
  display: flex;
  min-height: 100%;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.app-main {
  flex-grow: 1;
  padding: 3em;
}

.fc {
  /* the calendar root */
  max-width: 1100px;
  margin: 0 auto;
}

.fc-col-header-cell-cushion {
  font-weight: lighter;
}

.fc-daygrid-day-number {
  font-weight: bold;
}

.fc-timegrid-event {
  background-color: var(--green_grade_4) !important;
  border: 1px solid var(--fc-event-border-color, var(--green_grade_4));
}

.fc-daygrid-event-dot {
  border: calc(var(--fc-daygrid-event-dot-width, 8px) / 2) solid
    var(--fc-event-border-color, var(--green_grade_4));
  border-radius: calc(var(--fc-daygrid-event-dot-width, 8px) / 2);
}

.fc-h-event {
  border: 1px solid var(--fc-event-border-color, var(--green_grade_4));
}

.fc-event-title-container {
  background-color: var(--green_grade_4) !important;
  border: none !important;
}

.fc-button-primary:disabled {
  background-color: var(--gray) !important;
}
.fc-button {
  background-color: var(--green_grade_4) !important;
  border: none !important;
}
.fc .fc-button:focus {
  box-shadow: none !important;
}
.fc-button-active {
  background-color: var(--green_grade_5) !important;
}
.fc-prev-button,
.fc-next-button {
  background-color: var(--green_grade_5) !important;
}

/* min */
@media (max-width: 476px) {
  .fc-toolbar-title {
    font-size: 15px !important;
  }
  .fc-daygrid-day-number,
  .fc-col-header-cell-cushion,
  .fc-timegrid-slot-label-cushion {
    /* default size */
    font-size: 0.5em !important;
  }
  .fc-timegrid-axis-cushion {
    font-size: 8px !important;
  }
  .fc-event-time {
    font-size: 3px !important;
  }
  .fc-event-title {
    font-size: 6px !important;
  }
  .fc-button {
    width: 30px !important;
    height: 25px !important;
    font-size: 0.5em !important;
  }
  .fc-prev-button,
  .fc-next-button {
    width: 25px !important;
    height: 25px !important;
  }

  .fc-daygrid-more-link {
    font-size: 0.1em;
  }
  .fc-popover {
    left: 20% !important;
  }
  .fc-view-harness {
    height: 450px !important;
  }
}

/* mobile */
@media (min-width: 477px) and (max-width: 767px) {
  .fc-toolbar-title {
    font-size: 25px !important;
  }
  .fc-daygrid-day-number,
  .fc-col-header-cell-cushion,
  .fc-timegrid-slot-label-cushion {
    font-size: 8px !important;
  }
  .fc-timegrid-axis-cushion {
    font-size: 12px !important;
  }
  .fc-event-time {
    font-size: 5px !important;
  }
  .fc-event-title {
    font-size: 8px !important;
  }
  .fc-button {
    width: 40px !important;
    height: 30px !important;
    font-size: 8px !important;
  }
  .fc-prev-button,
  .fc-next-button {
    width: 30px !important;
    height: 30px !important;
  }
  .fc-view-harness {
    height: 500px !important;
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .fc-toolbar-title {
    font-size: 30px !important;
  }
  .fc-daygrid-day-number,
  .fc-col-header-cell-cushion,
  .fc-timegrid-slot-label-cushion {
    /* default size */
    font-size: 10px !important;
  }
  .fc-timegrid-axis-cushion {
    font-size: 14px !important;
  }
  .fc-event-time {
    font-size: 7px !important;
  }
  .fc-event-title {
    font-size: 10px !important;
  }
  .fc-button {
    width: 50px !important;
    height: 30px !important;
    font-size: 10px !important;
  }
  .fc-prev-button,
  .fc-next-button {
    width: 40px !important;
    height: 30px !important;
  }
}

/* mdDesktop */
@media (min-width: 992px) and (max-width: 1199px) {
  .fc-toolbar-title {
    font-size: 35px !important;
  }
  .fc-daygrid-day-number,
  .fc-col-header-cell-cushion,
  .fc-timegrid-slot-label-cushion {
    /* default size */
    font-size: 12px !important;
  }
  .fc-event-time {
    font-size: 9px !important;
  }
  .fc-event-title {
    font-size: 12px !important;
  }
  .fc-button {
    width: 70px !important;
    height: 40px !important;
    font-size: 13px !important;
  }
  .fc-prev-button,
  .fc-next-button {
    width: 50px !important;
    height: 40px !important;
  }
}

/* lgDesktop */
@media (min-width: 1200px) and (max-width: 1599px) {
  .fc-toolbar-title {
    font-size: 38px !important;
  }
  .fc-daygrid-day-number,
  .fc-col-header-cell-cushion,
  .fc-timegrid-slot-label-cushion {
    /* default size */
    font-size: 14px !important;
  }
  .fc-event-time {
    font-size: 11px !important;
  }
  .fc-event-title {
    font-size: 14px !important;
  }
  .fc-button {
    width: 70px !important;
    height: 40px !important;
    font-size: 13px !important;
  }
  .fc-prev-button,
  .fc-next-button {
    width: 50px !important;
    height: 40px !important;
  }
}

/* max */
@media (min-width: 1600px) {
  .fc-toolbar-title {
    font-size: 42px !important;
  }
  .fc-daygrid-day-number,
  .fc-col-header-cell-cushion,
  .fc-timegrid-slot-label-cushion {
    /* default size */
    font-size: 15px !important;
  }
  .fc-event-time {
    font-size: 11px !important;
  }
  .fc-event-title {
    font-size: 14px !important;
  }
  .fc-button {
    width: 70px !important;
    height: 40px !important;
    font-size: 13px !important;
  }
  .fc-prev-button,
  .fc-next-button {
    width: 50px !important;
    height: 40px !important;
  }
}
