:root {
  --point_color: rgb(93, 185, 170);
  --green_grade_1: #cceae4;
  --green_grade_2: #a8dad0;
  --green_grade_3: #88cdbf;
  --green_grade_4: #6cbea7;
  --green_grade_5: #52a58e;

  --gray_lighter: rgba(151, 151, 151, 0.726);
  --gray: rgba(48, 48, 48, 0.267);
  --gray_border: 1px solid $gray;
}

/* mostly for calendar modal */

.MuiInput-underline:after {
  border-bottom: 2px solid var(--green_grade_5) !important;
}
