@import "../../../styles/_variables.module.scss";

.recent_modify {
  @include flex_col;
  width: 31%;
  height: 100%;
  margin-top: 2%;
  align-items: center;
  border-radius: 3px;
  box-shadow: 1px 2px 6px 2px rgba(56, 56, 56, 0.11);

  .title {
    width: 80%;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 25px;
    color: $green_grade_5;
  }

  .sub_title {
    width: 80%;
    display: flex;

    span {
      font-size: 14px;
      margin: 8px 0 10px 0;
    }
  }

  .null_message {
    width: fit-content;
    height: 75%;
    @include flex_col;
    justify-content: center;
    align-items: center;

    p {
      font-size: 0.9rem;
    }
  }

  .note_wrapper {
    width: 86%;
    height: 75%;
    background-color: transparent;
    margin-top: 15px;
    margin-bottom: 12px;
    border-radius: 5px;
    @include flex_col;

    .visible_notes {
      /*show note info style*/
      .note_container {
        display: flex;
        justify-content: center;
        width: 100%;

        .note_div {
          display: flex;
          border: solid 1px $green_grade_2;
          border-radius: 3px;
          width: 93%;
          height: 40px;
          margin-top: 5px;
          cursor: pointer;

          .icon_div {
            height: 100%;
            min-width: 30px;
            pointer-events: none;
            display: flex;
            justify-content: center;
            align-items: center;

            .note_icon {
              color: $green_grade_5;

              width: 20px;
              height: 20px;

              pointer-events: none;
            }
          }

          .title_div {
            flex: 1;
            margin: auto;
            margin-left: 1%;
            pointer-events: none;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            -ms-text-overflow: ellipsis;
            font-size: 14px;
            pointer-events: none;
          }

          .time_div {
            min-width: 90px;
            margin-right: 5px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-size: 10px;
            pointer-events: none;
          }
        }
      }
    }
  }
}

@media (max-width: 1412px) {
  .recent_modify {
    .note_wrapper {
      margin-top: 5px;

      .visible_notes {
        .note_container {
          .note_div {
            height: 37px;
          }
        }
      }
    }
  }
}

@include tablet {
  .recent_modify {
    .note_wrapper {
      height: 73%;

      .visible_notes {
        .note_container {
          .note_div {
            width: 90%;

            .title_div {
              margin-right: 5px;
            }

            .time_div {
              width: 0px;
              display: none;
            }
          }
        }
      }
    }
  }
}

@include mobile {
  .recent_modify {
    .note_wrapper {
      height: 73%;

      .visible_notes {
        .note_container {
          .note_div {
            width: 90%;

            .title_div {
              margin-right: 5px;
            }

            .time_div {
              width: 0px;
              display: none;
            }
          }
        }
      }
    }
  }
}

@include min {
  .recent_modify {
    width: 100%;
    height: 280px;
    margin-top: 15px;

    .title {
      font-size: 1.15rem;
    }

    .note_wrapper {
      margin-top: 12px;
    }
  }
}

@media (max-width: 408px) {
  .recent_modify {
    height: 300px;
  }
}
