@import "../../../styles/_variables.module.scss";

.recent_modify {
  @include flex_col;
  width: 31%;
  height: 100%;
  margin-top: 2%;
  align-items: center;
  background-color: white;
  border-radius: 3px;
  box-shadow: 1px 2px 6px 2px rgba(56, 56, 56, 0.11);

  .title {
    width: 80%;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 25px;
    color: $green_grade_5;
  }

  .sub_title {
    width: 80%;
    display: flex;

    span {
      font-size: 14px;
      margin: 8px 0 10px 0;
      color: rgb(27, 27, 27);
    }
  }

  .note_wrapper {
    width: 86%;
    height: 75%;
    background-color: white;
    margin-top: auto;
    margin-bottom: 12px;
    border-radius: 5px;
    @include flex_col;

    /*show note info style*/
    .note_container {
      display: flex;
      justify-content: center;

      .note_div {
        display: flex;
        border: solid 1px $green_grade_2;
        border-radius: 3px;
        width: 93%;
        height: 40px;
        cursor: pointer;

        .icon_div {
          height: 100%;
          width: 30px;
          pointer-events: none;
          display: flex;
          justify-content: center;
          align-items: center;

          .note_icon {
            color: $green_grade_5;

            width: 20px;
            height: 20px;

            pointer-events: none;
          }
        }

        .title_div {
          margin: auto;
          margin-left: 1%;
          pointer-events: none;
          p {
            font-size: 14px;
            pointer-events: none;
          }
        }

        .time_div {
          margin-right: 5px;
          display: flex;
          justify-content: right;
          align-items: center;
          font-size: 2px;
          pointer-events: none;
        }
      }
    }
  }
}

@include tablet {
  .recent_modify {
    .note_wrapper {
      height: 73%;

      .note_container {
        .note_div {
          width: 90%;
        }

        .time_div p {
          display: none;
        }
      }
    }
  }
}

@include mobile {
  .recent_modify {
    .note_wrapper {
      height: 73%;

      .note_container {
        .note_div {
          width: 90%;
        }

        .time_div p {
          display: none;
        }
      }
    }
  }
}

@include min {
  .recent_modify {
    width: 100%;
    height: 280px;
    margin-top: 15px;

    .title {
      font-size: 1.15rem;
    }

    .note_wrapper {
      height: 80%;
      margin-top: 12px;
    }
  }
}
