@import "../../../styles/_variables.module.scss";

.title {
  font-size: 28px;
  font-weight: 400;
  margin-top: 20px;
  color: $green_grade_5;
}

.sticky_memo {
  @include flex_col;
  align-items: center;
  width: 40%;
  height: 100%;
  background-color: azure;
  box-shadow: 0 2px 6px 1px rgb(10 10 10 / 19%);
  border-radius: 5px;

  .sticky_wrapper {
    width: 80%;
    height: 70%;
    box-shadow: 0 2px 6px 1px rgb(10 10 10 / 19%);
    background-color: white;
    margin-top: auto;
    margin-bottom: 5%;
    border-radius: 5px;
    @include flex_col;
    @include align_center;
  }
}
