@import "../../../styles/_variables.module.scss";

.sticky_memo {
  @include flex_col;
  align-items: center;
  width: 31%;
  height: 100%;
  background-color: azure;
  box-shadow: 0 2px 6px 1px rgb(10 10 10 / 19%);
  border-radius: 5px;
  margin-top: 2%;

  .title {
    width: 80%;
    font-size: 24px;
    font-weight: 400;
    margin-top: 20px;
    color: $green_grade_5;
  }

  .sticky_wrapper {
    width: 80%;
    height: 75%;
    box-shadow: 0 2px 6px 1px rgb(10 10 10 / 19%);
    background-color: white;
    margin-top: auto;
    margin-bottom: 12px;
    border-radius: 5px;
    @include flex_col;
  }
}

@include min {
  .sticky_memo {
    width: 100%;
    height: 280px;
    margin-top: 15px;

    .title,
    .sticky_wrapper {
      width: 90%;
    }
  }
}
