@import "../../../styles/_variables.module.scss";

.title {
  font-size: 28px;
  font-weight: 400;
  margin-top: 20px;
  color: $green_grade_5;
}

.today_schedule {
  @include flex_col;
  align-items: center;
  width: 31%;
  height: 100%;
  background-color: azure;
  border-radius: 5px;
  box-shadow: 0 2px 6px 1px rgb(10 10 10 / 19%);
  margin-top: 2%;

  .today_info {
    font-size: 16px;
    margin: 5% 0;
  }

  .schedule_wrapper {
    width: 80%;
    height: 60%;
    box-shadow: 0 2px 6px 1px rgb(10 10 10 / 19%);
    background-color: white;
    margin-top: auto;
    margin-bottom: 10%;
    border-radius: 5px;
    display: flex;
    @include align_center;
  }

  .schedule_list {
    margin: 10px;
    b,
    p {
      margin: 3px 0;
    }
  }
}
