@import "../../../styles/_variables.module.scss";

.today_schedule {
  @include flex_col;
  align-items: center;

  background-color: azure;
  border-radius: 5px;
  box-shadow: 0 2px 6px 1px rgb(10 10 10 / 19%);

  .title {
    font-size: 24px;
    font-weight: 400;
    margin-top: 20px;
    color: $green_grade_5;
  }

  .today_wrapper {
    width: 80%;
  }

  .today_info {
    font-size: 15px;
    margin: 5% 0;
  }

  .schedule_wrapper {
    width: 80%;
    height: 70%;
    box-shadow: 0 2px 6px 1px rgb(10 10 10 / 19%);
    background-color: white;
    margin-top: auto;
    margin-bottom: 12px;
    border-radius: 5px;
    @include flex_col;
    @include align_center;

    .schedule_box {
      height: 90%;
    }

    .schedule_container {
      width: 100%;
      height: 90%;
      @include flex_col;
      @include align_center;
      margin-bottom: 10px;

      p {
        font-size: 15px;
      }
      .schedule_list {
        margin: 10px;
        b,
        p {
          font-size: 15px;
          margin: 3px 0;
        }
      }
    }
  }

  .see_detail {
    height: 5%;
    font-weight: 300;
    font-size: 10px;
    cursor: pointer;
  }
}

@media (min-width: 477px) {
  .today_schedule {
    width: 31%;
    height: 100%;
  }
}

@include min {
  .today_schedule {
    width: 100%;
    height: 300px;
    margin-bottom: 15px;

    .today_wrapper,
    .schedule_wrapper {
      width: 90%;
    }
  }
}
