@import "../../../styles/_variables.module.scss";

.today_schedule {
  @include flex_col;
  align-items: center;
  border-radius: 3px;
  box-shadow: 1px 2px 6px 2px rgba(56, 56, 56, 0.11);

  .today_wrapper {
    width: 80%;

    .title {
      width: 100%;
      font-size: 1.2rem;
      font-weight: bold;
      margin-top: 25px;
      color: $green_grade_5;
    }

    .today_info {
      font-size: 14px;
      margin: 8px 0 10px 0;
    }
  }

  .schedule_wrapper {
    width: 80%;
    height: 67%;
    margin-bottom: 12px;
    margin-top: 5px;
    border-radius: 3px;
    @include flex_col;
    @include align_center;

    .schedule_box {
      width: 100%;
      height: 90%;
      @include flex_col;
      @include align_center;

      .schedule_container {
        width: 100%;
        height: 100%;
        @include flex_col;
        @include align_center;
        margin-bottom: 10px;

        .schedule_list {
          width: 100%;
          height: fit-content;
          margin: 0;

          b {
            font-size: 1.1rem;
          }

          p {
            font-size: 15px;
            margin: 10px 0 10px 0;
          }

          span {
            font-size: 0.9rem;
          }
        }
      }

      .see_detail {
        position: relative;
        bottom: 0;
        padding: 5px;
        font-weight: bold;

        cursor: pointer;

        &:hover {
          transform: translate(0, -2px);
        }

        &:active {
          transform: scale(0.98);
        }
      }
    }
  }
}

@media (min-width: 477px) {
  .today_schedule {
    width: 31%;
    height: 100%;
  }

  .see_detail {
    font-size: 12px;
  }
}

@include min {
  .today_schedule {
    width: 100%;
    height: 300px;
    margin-bottom: 15px;

    .schedule_wrapper {
      padding: 20px 0;

      .see_detail {
        margin-top: 10px;
        font-size: 1rem;
      }
    }
  }
}
