@import "../../../styles/_variables.module.scss";

.todo_list {
  @include flex_col;
  align-items: center;
  background-color: white;
  border-radius: 3px;
  box-shadow: 1px 2px 6px 2px rgba(56, 56, 56, 0.11);

  .title {
    width: 90%;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 25px;
    color: $green_grade_5;
  }

  .sub_title {
    width: 90%;
    display: flex;

    span {
      font-size: 14px;
      margin: 8px 0 10px 0;
      color: rgb(27, 27, 27);
    }
  }

  .todo_wrapper {
    width: 90%;
    height: 70%;
    margin: 11px 0;

    .graph_box {
      @include flex_col;
      @include align_center;

      .graph_container {
        width: 168px !important;
        height: 168px !important;
        @include flex_col;
        @include align_center;
        margin-bottom: 15px;

        .block_circle {
          margin-top: 10px;
          position: absolute !important;
          display: flex;
          @include align_center;
          background-color: transparent;
          width: 168px;
          height: 168px;
          border-radius: 50%;
          z-index: 4;
        }

        .rate_circle {
          margin-top: 10px;
          position: relative !important;
          display: flex;
          @include align_center;
          background-color: white;
          width: 126px !important;
          height: 126px !important;
          border-radius: 50%;
          z-index: 3;

          h1 {
            font-size: 23px;
          }
        }

        .pie {
          position: absolute !important;
          z-index: 2;
        }

        .none_circle {
          position: absolute !important;
          z-index: 2;
          width: 168px !important;
          height: 168px !important;
          border-radius: 50%;
          background-color: rgb(192, 192, 192);
          margin-top: 11px;
        }
      }
    }

    .todo_box {
      @include flex_col;
      margin: 0 auto;
      align-items: center;

      .todo_container {
        width: 90%;
        height: 96%;
        @include flex_col;
        @include align_center;
        margin-bottom: 10px;
        background-color: white;

        .null_message {
          font-size: 1.1rem;
          font-weight: 500;
        }

        .todo_info {
          width: 100%;
          height: 40px;
          background-color: white;
          border-bottom: 1px solid $gray;
          padding-bottom: 7px;
          margin-bottom: 7px;

          .todo_div {
            height: 100%;
            display: flex;
            @include align_center;

            .todo_text {
              width: max-content;
              word-break: break-all;
            }
          }
        }
      }

      .see_detail {
        position: relative;
        padding: 5px;
        font-weight: bold;
        cursor: pointer;
        color: $green_grade_5;

        &:hover {
          transform: translate(0, -2px);
        }

        &:active {
          transform: scale(0.98);
        }
      }
    }
  }
}

@include max {
  .todo_list {
    width: 63.7%;
    height: 100%;

    .todo_wrapper {
      @include flex_row;
      align-items: center;

      .graph_box {
        width: 35%;
        border-right: 2px solid $green_grade_4;
        margin-left: -10px;
        padding-right: 10px;
      }

      .todo_box {
        width: 60%;
        height: 60%;
      }
      .see_detail {
        bottom: 0;
        font-size: 12px;
      }
    }
  }
}
@include lgDesktop {
  .todo_list {
    width: 63.7%;
    height: 100%;

    .todo_wrapper {
      @include flex_row;
      align-items: center;

      .graph_box {
        width: 40%;
        border-right: 2px solid $green_grade_4;
        margin-left: -10px;
        padding-right: 10px;
      }

      .todo_box {
        width: 60%;
        height: 60%;
      }
      .see_detail {
        bottom: 0;
        font-size: 12px;
      }
    }
  }
}
@include mdDesktop {
  .todo_list {
    width: 63.7%;
    height: 100%;

    .todo_wrapper {
      @include flex_row;
      align-items: center;

      .graph_box {
        width: 45%;
        border-right: 2px solid $green_grade_4;
        margin-left: -10px;
        padding-right: 10px;
      }

      .todo_box {
        width: 48%;
        height: 60%;
      }
      .see_detail {
        bottom: 0;
        font-size: 12px;
      }
    }
  }
}
@include tablet {
  .todo_list {
    width: 63.7%;
    height: 100%;

    .todo_wrapper {
      @include flex_row;
      align-items: center;

      .graph_box {
        width: 47%;
        border-right: 2px solid $green_grade_4;
        margin-left: -10px;
        padding-right: 10px;
      }
      .todo_box {
        width: 43%;
        height: 60%;
      }
      .see_detail {
        bottom: 0;
        font-size: 12px;
      }
    }
  }
}

@include mobile {
  .todo_list {
    width: 63.7%;
    height: 100%;

    .todo_wrapper {
      @include flex_row;
      align-items: center;

      .graph_box {
        width: 53%;
        border-right: 2px solid $green_grade_4;
        margin-left: -10px;
        padding-right: 10px;
      }
      .todo_box {
        width: 40%;
        height: 60%;
      }
      .see_detail {
        bottom: 0;
        font-size: 12px;
      }
    }
  }
}

@include min {
  .todo_list {
    width: 100%;
    height: fit-content;
    padding-bottom: 40px;

    .title,
    .sub_title {
      width: 80%;
    }

    .todo_wrapper {
      @include flex_col;
      align-items: center;
      margin-top: 15px;

      .todo_box {
        width: 90%;
        height: 90%;
        margin-top: 10px;
      }

      .todo_container {
        min-height: 80px;
      }

      .graph_box {
        width: 100%;
        min-height: 180px;
        @include flex_col;
        @include align_center;
      }

      .see_detail {
        font-size: 1rem;
        bottom: -20px;
      }
    }
  }
}
