@import "../../../styles/_variables.module.scss";

.todo_list {
  @include flex_col;
  align-items: center;
  background-color: white;
  border-radius: 3px;
  box-shadow: 1px 2px 6px 2px rgba(56, 56, 56, 0.11);

  .title {
    width: 90%;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 25px;
    color: $green_grade_5;
  }

  .todo_wrapper {
    width: 90%;
    height: 70%;
    margin-top: 31px;
    margin-bottom: 12px;
    border-radius: 2px;

    .graph_box {
      @include flex_col;
      @include align_center;

      .none_circle {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        background-color: lightgray;
        margin-bottom: 0;
      }

      .graph_container {
        width: 160px;
        height: 160px;
        @include flex_col;
        @include align_center;
        margin-bottom: 15px;

        .rate_circle {
          margin-top: 11px;
          position: absolute;
          display: flex;
          @include align_center;
          background-color: white;
          width: 120px;
          height: 120px;
          border-radius: 50%;
          z-index: 3;

          h1 {
            font-size: 23px;
          }
        }

        .pie {
          position: absolute;

          z-index: 2;
        }

        .bg_circle {
          margin-top: 11px;
          position: absolute;
          display: flex;
          @include align_center;
          background-color: white;
          width: 170px;
          height: 170px;
          z-index: 1;
          border-radius: 50%;
          box-shadow: 1px 2px 7px 2px rgba(56, 56, 56, 0.137);
        }
      }
    }

    .todo_box {
      @include flex_col;
      margin: 0 auto;
      align-items: center;

      .todo_container {
        width: 90%;
        height: 100%;
        @include flex_col;
        align-items: center;
        margin-bottom: 10px;

        .todo_info {
          width: 100%;
          height: 40px;
          background-color: white;
          border-bottom: 1px solid $gray;
          margin-bottom: 7px;

          .todo_div {
            height: 100%;
            display: flex;
            @include align_center;

            .todo_text {
              width: 90%;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
      }

      .see_detail {
        position: relative;
        padding: 5px;
        font-weight: bold;
        cursor: pointer;
        color: $green_grade_5;

        &:hover {
          transform: translate(0, -2px);
        }

        &:active {
          transform: scale(0.98);
        }
      }
    }
  }
}

@include max {
  .todo_list {
    width: 63.7%;
    height: 100%;

    .todo_wrapper {
      @include flex_row;
      align-items: center;

      .graph_box {
        width: 35%;
        border-right: 2px solid $green_grade_4;
        margin-left: -10px;
        padding-right: 10px;
      }

      .todo_box {
        width: 60%;
        height: 60%;
      }
      .see_detail {
        bottom: 0;
        font-size: 12px;
      }
    }
  }
}
@include lgDesktop {
  .todo_list {
    width: 63.7%;
    height: 100%;

    .todo_wrapper {
      @include flex_row;
      align-items: center;

      .graph_box {
        width: 40%;
        border-right: 2px solid $green_grade_4;
        margin-left: -10px;
        padding-right: 10px;
      }

      .todo_box {
        width: 60%;
        height: 60%;
      }
      .see_detail {
        bottom: 0;
        font-size: 12px;
      }
    }
  }
}
@include mdDesktop {
  .todo_list {
    width: 63.7%;
    height: 100%;

    .todo_wrapper {
      @include flex_row;
      align-items: center;

      .graph_box {
        width: 45%;
        border-right: 2px solid $green_grade_4;
        margin-left: -10px;
        padding-right: 10px;
      }

      .todo_box {
        width: 48%;
        height: 60%;
      }
      .see_detail {
        bottom: 0;
        font-size: 12px;
      }
    }
  }
}
@include tablet {
  .todo_list {
    width: 63.7%;
    height: 100%;

    .todo_wrapper {
      @include flex_row;
      align-items: center;

      .graph_box {
        width: 47%;
        border-right: 2px solid $green_grade_4;
        margin-left: -10px;
        padding-right: 10px;
      }
      .todo_box {
        width: 43%;
        height: 60%;
      }
      .see_detail {
        bottom: 0;
        font-size: 12px;
      }
    }
  }
}

@include mobile {
  .todo_list {
    width: 63.7%;
    height: 100%;

    .todo_wrapper {
      @include flex_row;
      align-items: center;

      .graph_box {
        width: 53%;
        border-right: 2px solid $green_grade_4;
        margin-left: -10px;
        padding-right: 10px;
      }
      .todo_box {
        width: 40%;
        height: 60%;
      }
      .see_detail {
        bottom: 0;
        font-size: 12px;
      }
    }
  }
}

@include min {
  .todo_list {
    width: 100%;
    height: 100%;

    .todo_wrapper {
      @include flex_col;
      align-items: center;
      margin-top: 15px;

      .todo_box {
        width: 90%;
        height: 90%;
        margin-top: 10px;
      }

      .todo_container {
        min-height: 80px;
      }

      .graph_box {
        width: 100%;
        min-height: 180px;
        @include flex_col;
        @include align_center;
      }

      .see_detail {
        font-size: 1rem;
        bottom: -20px;
      }
    }
  }
}
