@import "../../../styles/_variables.module.scss";

.title {
  font-size: 28px;
  font-weight: 400;
  margin-top: 20px;
  color: $green_grade_5;
}

.user_graph {
  @include flex_col;
  align-items: center;
  width: 55%;
  height: 100%;
  background-color: azure;
  box-shadow: 0 2px 6px 1px rgb(10 10 10 / 19%);
  border-radius: 5px;

  .welcome_box {
    @include flex_row;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
  }

  .weather_container {
    width: 130px;
    height: 90%;
    background-color: white;
    margin-top: 13px;
    margin-bottom: 2%;
    border-radius: 5px;
    box-shadow: 0 2px 6px 1px rgb(10 10 10 / 19%);
    display: flex;
    justify-content: center;

    .weather_info {
      .weather_icon {
        display: block;
        width: 100px;
        margin: 0 auto;
      }

      .weather_text {
        @include flex_col;
        justify-content: center;
        height: 47%;
        margin-top: 5px;

        .temperature {
          font-weight: 700;
          font-size: 22px;
        }

        .weather {
          font-weight: 300;
          font-size: 20px;
          margin-bottom: 13px;
        }

        .another_info {
          font-weight: 300;
          font-size: 10px;
          line-height: 1.5;
        }
      }

      @media (max-height: 700px) {
        .another_info {
          display: none;
        }
      }
    }
  }

  .graph_box {
    width: 250px;
    height: 90%;
    background-color: white;
    margin-top: 13px;
    margin-bottom: 2%;
    border-radius: 5px;
    box-shadow: 0 2px 6px 1px rgb(10 10 10 / 19%);
    @include flex_col;
    @include align_center;

    .graph_index {
      font-weight: 300;
      font-size: 20px;
    }
  }

  .graph_container {
    width: 180px;
    height: 180px;
    @include flex_col;
    @include align_center;

    .graph_message {
      font-size: 15px;
      line-height: 2;
    }
  }
}
