@import "../../styles/_variables.module.scss";

.dark_mode_toggle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  img {
    width: 36px;
    height: 36px;
    margin: 0 1px 0 0;
  }

  &:hover {
    transform: translate(0, -1px);
  }

  &:active {
    outline: none;
  }

  &:focus {
    outline: none;
  }
}
.sun {
  background-color: white;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.753);
}

.moon {
  background-color: rgb(45, 37, 104);
  box-shadow: 1px 2px 5px rgba(30, 30, 30, 0.301);
}
