$point_color: rgb(93, 185, 170);
$green_grade_1: #cceae4;
$green_grade_2: #a8dad0;
$green_grade_3: #88cdbf;
$green_grade_4: #6cbea7;
$green_grade_5: #52a58e;

$gray: rgba(49, 49, 49, 0.24);
$gray_border: 1px solid $gray;

@mixin flex_col {
  display: flex;
  flex-direction: column;
}

@mixin flex_row {
  display: flex;
  flex-direction: row;
}

@mixin align_center {
  text-align: center;
  align-items: center;
  justify-content: center;
}
