@import "../../../styles/_variables.module.scss";

.nav_wrapper {
  width: 100%;
  height: 75px;
  @include flex_row;
  box-shadow: 0px 2px 3px rgba(44, 44, 44, 0.137);
  z-index: 999;
  position: fixed;
  top: 0;

  .nav_inside {
    display: flex;
    align-items: center;

    .burger_menu,
    .burger_toggle {
      cursor: pointer;

      div {
        width: 25px;
        height: 3px;
        background-color: $green_grade_5;
        margin: 5px;
        transition: all 0.3s ease;
      }
    }

    .logo {
      margin-top: 6px;
      height: 39px;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }

    .nav_items_on,
    .nav_items_off {
      display: flex;
      justify-content: space-between;

      .nav_menus {
        .nav_menu,
        .nav_menu_checked {
          font-size: 18px;
          text-decoration: none;
          font-weight: 400;
        }

        .nav_menu {
          padding-bottom: 3px;
        }
      }

      .user_menu {
        .nav_username {
          margin-right: 30px;
          font-size: 15px;
          font-weight: 400;
        }
        .logout_wrapper {
          @include flex_row;
          align-items: center;

          .logout_icon {
            width: 25px;
            height: 25px;
          }
          .logout_btn {
            width: fit-content;
            height: 40px;
            font-size: 15px;
            font-weight: 400;
            border-style: none;
            background-color: transparent;
            cursor: pointer;
          }
          &:hover {
            transform: translate(0, -0.5px);
          }

          &:active {
            transform: scale(0.98);
          }

          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}

@include under1100 {
  .nav_wrapper {
    align-items: center;
    justify-content: center;

    .nav_inside {
      justify-content: space-between;
      width: 92%;

      .burger_menu,
      .burger_toggle {
        display: block;
        z-index: 101;
      }

      .burger_toggle {
        .burger_line1 {
          transform: rotate(-45deg) translate(-5px, 6px);
        }
        .burger_line2 {
          opacity: 0;
        }
        .burger_line3 {
          transform: rotate(45deg) translate(-5px, -6px);
        }
      }

      .logo {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translate(-50%, 0);
      }

      .nav_items_off {
        left: -260px;
      }

      .nav_items_on {
        left: 0;
        animation-name: slide;
        animation-duration: 0.6s;
        animation-duration: leaner;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;

        @keyframes slide {
          0% {
            left: -260px;
          }
          100% {
            left: 0;
          }
        }
        @-webkit-keyframes slide {
          0% {
            left: -260px;
          }
          100% {
            left: 0;
          }
        }
        @-moz-keyframes slide {
          0% {
            left: -260px;
          }
          100% {
            left: 0;
          }
        }
        @-o-keyframes slide {
          0% {
            left: -260px;
          }
          100% {
            left: 0;
          }
        }
      }

      .nav_items_on,
      .nav_items_off {
        @include flex_col;
        justify-content: space-around;
        align-items: center;
        width: 250px;
        height: 100vh;
        overflow-y: hidden;
        position: absolute;
        top: 75px;
        z-index: 0;
        border-top: none;
        box-shadow: 2px 2px 3px rgba(44, 44, 44, 0.137);

        .nav_menus {
          @include flex_col;
          justify-content: space-around;
          width: 60%;
          height: 220px;
          position: absolute;
          left: 45px;
          top: 20px;

          .nav_menu,
          .nav_menu_checked {
            text-align: left;
            width: 100%;
            padding: 3px 3px 3px 5px;
            margin: 12px 0 10px 0;
          }
        }

        .user_menu {
          position: absolute;
          width: 60%;
          height: 90px;
          bottom: 90px;
          @include flex_col;

          .nav_username {
            width: 90%;
            font-weight: bol;
            padding: 0 3px 10px 2px;
            border-bottom: 1px solid $gray;
          }

          .logout_wrapper {
            padding-left: 3px;
            margin: 12px 0 10px -7px;
            position: absolute;
            bottom: 0;
          }
        }

        .dark_mode_wraspper {
          position: absolute;
          width: 60%;
          bottom: 220px;
        }
      }
    }
  }
}

@include over1100 {
  .nav_wrapper {
    align-items: center;
    justify-content: center;

    .nav_inside {
      width: 92vw;

      .burger_menu,
      .burger_toggle {
        display: none;
      }

      .nav_items_off,
      .nav_items_on {
        @include flex_row;
        align-items: center;
        flex: 1;

        .nav_menus {
          margin: 0 auto;

          .nav_menu,
          .nav_menu_checked {
            text-align: center;
            padding: 3px 4px 0 4px;
            margin: 12px 2.3vw 0 2.3vw;
          }
          .nav_menu_checked {
            padding-bottom: 21px;
            border-bottom: 6px solid $green_grade_4;
          }
        }

        .user_menu {
          @include flex_row;
          align-items: center;

          .nav_username {
            margin-right: 30px;
          }
          .logout_wrapper {
            .logout_btn {
              padding-left: 3px;
              margin-bottom: 1px;
            }
          }
        }

        .dark_mode_wraspper {
          position: fixed;
          bottom: 80px;
          right: 90px;
        }
      }
    }
  }
}
