@import "../../../styles/_variables.module.scss";

.auth_page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .auth_box_wrapper {
    display: flex;
    border-radius: 5px;
    align-items: center;

    button {
      font-size: 16px;
      font-weight: 500;
      border-style: none;
      border-radius: 23px;
      height: 46px;
      margin-top: 10px;
      cursor: pointer;

      &:hover {
        transform: translate(0px, -1px);
      }
      &:active {
        transform: scale(0.98);
        box-shadow: none;
      }
      &:focus {
        outline: none;
      }
    }

    .auth_box {
      @include flex_col;
      position: relative;
      align-items: center;
      width: 300px;
      height: 500px;

      .input_wrapper {
        width: 100%;

        .animated_div {
          margin-bottom: 11px;
        }

        .animated_div_bottom {
          margin: 9px 0;

          .error_message_green {
            color: $green_grade_5;
          }

          .error_message_red {
            color: rgb(197, 68, 68);
          }

          .error_message_green,
          .error_message_red {
            position: relative;
            top: -10px;
            font-weight: 400;
            font-size: 11px;
          }
        }

        .animated_div,
        .animated_div_bottom {
          position: relative;

          .animated_label {
            position: absolute;
            left: 2px;
            top: -10px;
            width: 100%;
            height: 20px;
            opacity: 0.5;
            transition: 0.1s ease all;
            user-select: none;
            font-size: 18px;
            font-weight: 300;
            color: transparent;
            margin: 1.8vh 0 5px 0;
            padding-bottom: 2px;
            cursor: text;

            -webkit-user-select: none;
            -moz-user-select: none;

            &:after {
              content: "";
              position: absolute;
              bottom: -7px;
              left: 45%;
              height: 2px;
              width: 0px;
              visibility: hidden;
              background-color: $green_grade_4;
              transition: 0.3s ease all;
            }
          }

          input {
            position: relative;
            width: 100%;
            color: rgb(31, 31, 31);
            font-weight: 300;
            font-size: 18px;
            border: unset;
            background-color: unset;
            margin: 5px 0 14px 0;
            padding: 0 0 10px 3px;
            z-index: 1;
            border-bottom: 1px solid $gray;

            &:focus {
              border-color: transparent;
              outline: none;

              ~ .animated_label {
                opacity: 1;
                color: $green_grade_5;
                font-size: 15px;
                font-weight: 400;
                border: unset;
                padding-bottom: 33px;
                top: -37px;

                &:after {
                  width: 100%;
                  left: 0;
                  visibility: visible;
                }
              }
            }

            &:focus::placeholder {
              color: transparent;
            }
          }
        }

        .button_wrapper {
          @include flex_col;
          margin-top: 20px;

          .login_btn,
          .register_btn {
            border: none;
            color: white;
            background-color: $green_grade_4;

            &:hover {
              box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.116);
            }

            &:disabled {
              background-color: $gray;
            }
            &:disabled:hover {
              box-shadow: none;
              transform: none;
            }
          }
        }
      }
    }

    .division {
      @include flex_row;
      align-items: center;
      width: 100%;
      height: fit-content;
      padding: 20px 0px 10px 0px;

      p {
        font-size: 15px;
        font-weight: 300;
        text-align: center;
        padding: 0 10px 0 10px;
        color: rgb(121, 121, 121);
      }

      .border {
        display: flex;
        flex: 1;
        border-bottom: 1px solid $gray;
      }
    }

    .social {
      @include flex_col;
      width: 100%;

      .GoogleBtn,
      .KakaoBtn {
        font-weight: 400;
        color: rgb(56, 56, 56);
        border: 1px solid $gray;
        text-align: left;
        font-size: 14px;
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
          box-shadow: 0px 2px 3px rgba(44, 44, 44, 0.11);
        }
      }

      .GoogleIcon {
        background: url("../LogoImg/g-logo.png") transparent 5px 50% no-repeat;
        background-size: 60%;
        vertical-align: middle;
        width: 42px;
        height: 42px;
      }

      .GoogleBtn {
        margin: 5px;
        background: white;
        white-space: nowrap;
      }

      .KakaoIcon {
        background: url("../LogoImg/k-logo.png") transparent 5px 50% no-repeat;
        background-size: 60%;
        display: inline-block;
        vertical-align: middle;
        width: 42px;
        height: 42px;
      }

      .KakaoBtn {
        margin: 5px;
        background: #fee500;
        white-space: nowrap;
      }
    }
  }

  .auth_background {
    display: flex;
    border-radius: 5px;
    position: absolute;
    z-index: -99;

    .logo {
      width: 150px;
      position: absolute;
      top: 6%;
      left: 7%;
    }

    .header_sentence {
      color: white;
      position: absolute;

      height: fit-content;
      text-align: right;
      h3,
      h4 {
        padding-right: 2px;
      }
      h4 {
        font-size: 18px;
        font-weight: 400;
      }
      h3 {
        font-size: 22px;
        font-weight: 600;
      }
    }
  }
}

.bg_side {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -100;

  p {
    position: absolute;
    bottom: 28px;
    left: 50px;
    font-weight: 300;
    font-size: 14px;
  }
}

@include max {
  .auth_box_wrapper {
    width: 70vw;
    height: 650px;
    box-shadow: 1px 2px 25px 2px rgba(44, 44, 44, 0.185);

    .auth_box {
      left: 7.5%;
      top: 60px;
    }
  }

  .auth_background {
    width: 70vw;
    height: 650px;
    background-color: white;
    background-image: url("../../../img/login-bg.svg");
    background-repeat: no-repeat;
    background-position: right;

    .header_sentence {
      right: 7%;
      top: 6%;
    }

    .bg_img {
      position: absolute;
      top: 18%;
      right: 7%;
      width: 50%;
      height: 70%;
      background-image: url("../../../img/login-img.svg");
      background-repeat: no-repeat;
      background-position: right;
    }
  }

  .bg_side {
    width: 40vw;
    height: 100%;
    background-color: $green_grade_5;

    p {
      color: white;
    }
  }
}

@include lgDesktop {
  .auth_box_wrapper {
    width: 70vw;
    height: 650px;
    box-shadow: 1px 2px 25px 2px rgba(44, 44, 44, 0.185);

    .auth_box {
      left: 7.5%;
      top: 60px;
    }
  }

  .auth_background {
    width: 70vw;
    height: 650px;
    background-color: white;
    background-image: url("../../../img/login-bg-lg.svg");
    background-repeat: no-repeat;
    background-position: right;

    .header_sentence {
      right: 3%;
      top: 6%;
    }

    .bg_img {
      position: absolute;
      top: 21%;
      right: 3%;
      width: 50%;
      height: 60%;
      background-image: url("../../../img/login-img.svg");
      background-repeat: no-repeat;
      background-position: right;
    }
  }

  .bg_side {
    width: 40vw;
    height: 100%;
    overflow: hidden;
    background-color: $green_grade_5;

    p {
      color: white;
    }
  }
}

@include mdDesktop {
  .auth_box_wrapper {
    width: 450px;
    height: 600px;
    justify-content: center;
    box-shadow: 1px 2px 25px 2px rgba(44, 44, 44, 0.185);

    .auth_box {
      top: 30px;
    }
  }

  .auth_background {
    width: 450px;
    height: 600px;
    background-color: white;

    .logo {
      display: none;
    }
  }

  .header_sentence {
    display: none;
  }

  .bg_side {
    width: 100%;
    height: 100%;
    background-image: url("../../../img/login-bg-tb.svg");
    background-repeat: no-repeat;
    background-position: right;

    .bg_logo {
      position: absolute;
      top: 50px;
      left: 50px;
      width: 150px;
      height: 60px;
      z-index: 100;
      background-image: url("../../../img/logo.svg");
      background-repeat: no-repeat;
    }
    p {
      color: black;
    }
  }
}

@include tablet {
  .auth_box_wrapper {
    width: 450px;
    height: 600px;
    justify-content: center;
    box-shadow: 1px 2px 25px 2px rgba(44, 44, 44, 0.185);

    .auth_box {
      top: 30px;
    }
  }

  .auth_background {
    width: 450px;
    height: 600px;
    background-color: white;

    .logo {
      display: none;
    }
  }

  .header_sentence {
    display: none;
  }

  .bg_side {
    width: 100%;
    height: 100%;
    background-image: url("../../../img/login-bg-tb.svg");
    background-repeat: no-repeat;
    background-position: right;

    .bg_logo {
      position: absolute;
      top: 30px;
      left: 50px;
      width: 150px;
      height: 60px;
      z-index: 100;
      background-image: url("../../../img/logo.svg");
      background-repeat: no-repeat;
    }
    p {
      color: black;
    }
  }
}

@include mobile {
  .auth_box_wrapper {
    width: 430px;
    height: 580px;
    justify-content: center;
    box-shadow: 1px 2px 25px 2px rgba(44, 44, 44, 0.185);

    .auth_box {
      top: 30px;
    }
  }

  .auth_background {
    width: 430px;
    height: 580px;
    background-color: white;

    .logo {
      display: none;
    }
  }

  .header_sentence {
    display: none;
  }

  .bg_side {
    width: 100%;
    height: 100%;
    background-image: url("../../../img/login-bg-tb.svg");
    background-repeat: no-repeat;
    background-position: right;

    .bg_logo {
      display: none;
    }
    p {
      color: black;
    }
  }
}

@include min {
  .auth_box_wrapper {
    width: 100%;
    height: fit-content;
    justify-content: center;

    .auth_box {
      top: 30px;
    }
  }

  .auth_background {
    .logo {
      display: none;
    }
  }

  .header_sentence {
    display: none;
  }

  .bg_side {
    width: 100%;
    height: 100%;

    .bg_logo {
      position: fixed;
      top: 20px;
      left: 50%;
      margin-left: -76px;
      width: 150px;
      height: 60px;
      z-index: 100;
      background-image: url("../../../img/logo.svg");
      background-repeat: no-repeat;
    }
    p {
      color: black;
      left: 50%;
      margin-left: -150px;
    }
  }
}
