@import "../../../styles/_variables.module.scss";

.auth_nav_wrapper {
  @include flex_row;
  justify-content: space-between;

  width: 67%;
  height: 35px;
  margin-bottom: 40px;

  li {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    padding: 0 10px 0 10px;
    cursor: pointer;
  }

  .nav_text_true {
    color: $green_grade_5;
    border-bottom: 1px solid $green_grade_4;
  }

  .nav_text_false {
    color: $gray;
  }
}
