@import "../../../styles/_variables.module.scss";

.todo_input_wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .todo_input {
    flex: 1;
    height: 40px;
    padding: 0 10px 0 10px;
    margin-top: 5px;
    border: 1px solid $gray_hover;
    border-radius: 2px;

    &:focus {
      outline: none;
      transform: translate(0, -1px);
      box-shadow: 0 2px 1px rgba(126, 126, 126, 0.103);
      border-color: $green_grade_4;
    }
  }

  .todo_input_button {
    width: 50px;
    height: 42px;
    margin: 5px 0 0 5px;
    padding-bottom: 4px;
    border: 1px solid $gray_hover;
    border-radius: 2px;
    font-size: 28px;
    cursor: pointer;

    &:hover {
      transform: translate(0, -1px);
      border-color: $green_grade_4;
    }

    &:active {
      transform: scale(0.98);
    }

    &:focus {
      outline: none;
    }
  }
}
