@import "../../../styles/_variables.module.scss";

.todo_header_wrapper_dark {
  background-color: $green_grade_5;
  color: $dark_text_b;
}
.todo_header_wrapper_light {
  background-color: $green_grade_4;
  color: white;
}
.todo_input_dark {
  color: $dark_text_3;
}
.todo_input_light {
  color: $dark_text_b;
}
.todo_input_button_dark {
  color: $green_grade_5;
}
.todo_input_button_light {
  color: $green_grade_4;
}
