@import "../../../styles/_variables.module.scss";

.todo_header_wrapper_dark {
  background-color: $green_grade_5;
  color: $dark_text_b;
}
.todo_header_wrapper_light {
  background-color: $green_grade_4;
  color: white;
}
