@import "../../../styles/_variables.module.scss";

.todo_header_wrapper {
  @include flex_row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0 10px 0;

  .todo_header_front {
    @include flex_row;

    .todo_title {
      margin-left: 14px;
      font-size: 28px;
      font-weight: 300;
    }

    .todo_count {
      margin: 12px 12px 0 12px;
      font-size: 16px;
      font-weight: 300;
    }
  }

  .reset_wrapper {
    width: fit-content;
    height: fit-content;
    margin: 11px 9px 0 0;
    @include flex_row;
    align-items: center;
    cursor: pointer;

    &:hover {
      transform: translate(0, -1px);
    }

    &:active {
      transform: none;
    }

    img {
      margin: 3px 2px 0 0;
      width: 11px;
      height: 11px;
    }

    .todo_reset {
      width: fit-content;
      height: fit-content;
      padding: 3px 3px 0 3px;
      font-size: 13px;
      font-weight: 500;
      border-style: none;
      background-color: transparent;
    }
  }
}
