.list_wrapper {
  width: 100%;
  margin-top: 5px;
  padding: 0;

  .list {
    width: 100%;
    height: 40px;
    padding: 10px 0 10px 0;
    list-style: none;
    border-bottom: 1px solid rgba(126, 126, 126, 0.397);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .todo_false,
    .todo_true {
      width: max-content;
      font-size: 17px;
      height: fit-content;
      word-break: break-all;
      padding: 0 10px 0 8px;
      cursor: pointer;
    }

    .todo_true {
      color: rgba(126, 126, 126, 0.603);
      text-decoration: line-through;
    }

    .delete_todo {
      font-size: 24px;
      margin-right: 18px;
      height: fit-content;
      color: rgba(126, 126, 126, 0.603);
      cursor: pointer;

      &:hover {
        color: rgb(126, 126, 126);
      }
    }
  }
}
