@import "../../../styles/_variables.module.scss";

.list_wrapper {
  width: 100%;
  overflow-y: scroll;
  margin-top: 5px;
  padding: 0;

  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }

  .list {
    width: 100%;
    height: 40px;
    padding: 10px 0 10px 0;
    list-style: none;
    border-bottom: 1px solid $gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;

    .todo_false,
    .todo_true {
      width: max-content;
      font-size: 17px;
      height: fit-content;
      word-break: break-all;
      padding: 0 10px 0 8px;
      cursor: pointer;
    }

    .todo_true {
      color: $gray;
      text-decoration: line-through;
    }

    .todo_item_light {
      color: $dark_text_b;
    }
    .todo_item_dark {
      color: $dark_text_3;
    }

    .delete_todo {
      font-size: 24px;
      margin-right: 18px;
      height: fit-content;
      color: $gray;
      cursor: pointer;

      &:hover {
        color: $gray_hover;
      }
    }
  }
}

@include max {
  .list_wrapper {
    height: 70vh;
  }
}
@include lgDesktop {
  .list_wrapper {
    height: 70vh;
  }
}
@include mdDesktop {
  .list_wrapper {
    height: 70vh;
  }
}
@include tablet {
  .list_wrapper {
    height: 70vh;
  }
}

@include mobile {
  .list_wrapper {
    height: 67vh;
  }
}

@include min {
  .list_wrapper {
    height: 60vh;
  }
}
