@import "../../styles/_variables.module.scss";

.dashboard_wrapper {
  display: flex;
  justify-content: center;

  .dashboard {
    @include flex_col;
    align-items: center;

    width: 70%;
    min-height: 630px;
    height: fit-content;
    margin-top: 12vh;
    padding: 15px 0;

    background-color: $green_grade_1;
    border-radius: 2px;

    .line_one,
    .line_two {
      @include flex_row;
      justify-content: space-evenly;
      width: 100%;

      .title {
        font-size: 28px;
        font-weight: 500;
        margin-top: 20px;
        color: $green_grade_5;
      }

      /*today schedule style*/

      .today_schedule {
        @include flex_col;
        align-items: center;
        width: 35%;
        height: 350px;
        background-color: azure;
        border-radius: 5px;
        box-shadow: 0 2px 6px 1px rgb(10 10 10 / 19%);

        .today_info {
          font-size: 18px;
          margin: 5% 0;
        }

        .schedule_wrapper {
          width: 80%;
          height: 60%;
          background-color: $green_grade_2;
          margin-top: auto;
          margin-bottom: 10%;
          border-radius: 5px;
          display: flex;
          @include align_center;
        }

        .schedule_list {
          margin: 10px;
          b,
          p {
            margin: 3px 0;
          }
        }
      }

      /*recent modify style*/

      .recent_modify {
        @include flex_col;
        align-items: center;
        width: 60%;
        height: 350px;
        background-color: azure;
        border-radius: 5px;
        box-shadow: 0 2px 6px 1px rgb(10 10 10 / 19%);

        .note_wrapper {
          width: 85%;
          height: 70%;
          background-color: $green_grade_2;
          margin-top: auto;
          margin-bottom: 5%;
          border-radius: 5px;
          @include flex_col;
          justify-content: space-evenly;

          /*show note info style*/
          .note_container {
            display: flex;
            justify-content: center;

            .note_div {
              display: flex;
              background-color: azure;
              border: solid 2px $green_grade_2;
              border-radius: 10px;
              width: 95%;
              height: 50px;
              cursor: pointer;

              .icon_div {
                height: 100%;
                width: 50px;
                pointer-events: none;
                display: flex;
                justify-content: center;
                align-items: center;

                .note_icon {
                  color: $green_grade_5;

                  width: 30px;
                  height: 30px;

                  pointer-events: none;
                }
              }

              .title_div {
                margin: auto;
                margin-left: 1%;
                pointer-events: none;
                p {
                  font-size: 17px;
                  pointer-events: none;
                }
              }

              .time_div {
                margin-right: 5px;
                display: flex;
                align-items: center;

                pointer-events: none;
                small {
                  font-size: 7px;
                  color: black;

                  pointer-events: none;
                }
              }

              @media (max-width: 768px) {
                .icon_div,
                .time_div small {
                  display: none;
                }
              }
            }
          }
        }
      }

      /* To do List*/
      .todo_list {
        @include flex_col;
        align-items: center;
        width: 60%;
        height: 350px;
        background-color: azure;
        box-shadow: 0 2px 6px 1px rgb(10 10 10 / 19%);
        border-radius: 5px;
        margin-top: 2%;
      }

      /* User Graph */
      .user_graph {
        @include flex_col;
        align-items: center;
        width: 35%;
        height: 350px;
        background-color: azure;
        box-shadow: 0 2px 6px 1px rgb(10 10 10 / 19%);
        border-radius: 5px;
        margin-top: 2%;

        .weather_container {
          width: 150px;
          height: 75%;
          background-color: white;
          margin-top: 5%;
          border-radius: 5px;
          box-shadow: 0 2px 6px 1px rgb(10 10 10 / 19%);
          display: flex;
          justify-content: center;

          .weather_info {
            .weather_icon {
              display: block;
              width: 120px;
              margin: 0 auto;
            }

            .weather_text {
              @include flex_col;
              justify-content: space-between;
              height: 47%;
              margin-top: 5px;

              .temperature {
                font-weight: 700;
                font-size: 22px;
              }

              .weather {
                font-weight: 300;
                font-size: 22px;
                margin-bottom: 15px;
              }

              .feels_like,
              .humidity,
              .place {
                font-weight: 300;
                font-size: 11px;
              }
            }
          }
        }
      }
    }
  }
}
