@import "../../../styles/_variables.module.scss";

.block_wrapper {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 400px;
  padding: 40px 0;
  margin-top: -240px;
  display: flex;
  flex-direction: column;
  background-color: rgb(250, 250, 250);
  @include align_center;

  .block_title {
    position: relative;
    top: 20px;
    font-size: 50px;
    color: $green_grade_5;
  }

  .block_section {
    display: flex;
    flex-direction: column;
    @include align_center;

    img {
      width: 200px;
      height: 200px;
      margin: 20px 0;
    }

    .script {
      margin-top: 10px;
      color: $green_grade_5;
      font-size: 1.1rem;
      font-weight: bold;
    }
  }
}
