@import "../../styles/_variables.module.scss";

.nav_wrapper {
  width: 100%;
  height: 75px;
  @include flex_row;
  background-color: white;
  box-shadow: 0px 2px 3px rgba(44, 44, 44, 0.137);
  z-index: 100;
  position: fixed;
  top: 0;

  .nav_inside {
    display: flex;
    align-items: center;

    .burger_menu,
    .burger_toggle {
      cursor: pointer;

      div {
        width: 25px;
        height: 3px;
        background-color: $green_grade_5;
        margin: 5px;
        transition: all 0.3s ease;
      }
    }

    .logo {
      margin-top: 6px;
      height: 39px;
      cursor: pointer;
    }

    .nav_items_on,
    .nav_items_off {
      width: fit-content;

      .nav_menus {
        .nav_menu,
        .nav_menu_checked {
          font-size: 18px;
          text-decoration: none;
          font-weight: 400;
        }
        .nav_menu_checked {
          color: $green_grade_5;
        }

        .nav_menu {
          color: rgb(87, 87, 87);
          padding-bottom: 3px;

          &:hover {
            color: rgb(138, 138, 138);
          }
        }
      }
    }

    .user_menu {
      @include flex_row;
      align-items: center;

      .nav_username {
        margin-right: 15px;
        font-size: 15px;
        font-weight: 400;
      }

      .logout_btn {
        width: 90px;
        height: 40px;
        font-size: 15px;
        font-weight: 400;
        color: rgb(46, 46, 46);
        border-style: none;
        background-color: transparent;
        cursor: pointer;

        &:hover {
          transform: translate(0, -0.5px);
          color: rgb(100, 100, 100);
        }

        &:active {
          transform: scale(0.98);
        }

        &:focus {
          outline: none;
        }
      }
    }
  }
}

@include under1100 {
  .nav_wrapper {
    width: 100%;
    align-items: center;
    justify-content: center;

    .nav_inside {
      justify-content: space-between;
      width: 92%;

      .burger_menu,
      .burger_toggle {
        display: block;
        z-index: 101;
      }

      .burger_toggle {
        .burger_line1 {
          transform: rotate(-45deg) translate(-5px, 6px);
        }
        .burger_line2 {
          opacity: 0;
        }
        .burger_line3 {
          transform: rotate(45deg) translate(-5px, -6px);
        }
      }

      .logo {
        position: absolute;
        top: 10px;
        left: 50%;
        margin-left: -85px;
      }

      .nav_items_off {
        display: none;
      }

      .nav_items_on {
        @include flex_col;
        justify-content: space-around;
        align-items: center;
        width: 250px;
        height: 150vh;
        overflow-y: hidden;
        position: absolute;
        top: 76px;
        left: 0;
        z-index: 0;
        background-color: white;

        border-top: none;
        box-shadow: 2px 2px 3px rgba(44, 44, 44, 0.137);

        .nav_menus {
          @include flex_col;
          justify-content: space-around;
          width: 60%;
          height: 220px;
          position: absolute;
          left: 45px;
          top: 20px;

          .nav_menu,
          .nav_menu_checked {
            text-align: left;
            width: 100%;
            padding: 3px;
            margin: 12px 0 10px 0;
          }
        }
      }

      .user_menu {
        .nav_username {
          display: none;
        }
      }
    }
  }
}

@include over1100 {
  .nav_wrapper {
    align-items: center;
    justify-content: center;

    .nav_inside {
      justify-content: space-between;
      width: 92vw;

      .burger_menu,
      .burger_toggle {
        display: none;
      }

      .nav_items_off,
      .nav_items_on {
        @include flex_row;

        .nav_menus {
          position: relative;
          bottom: 0;

          .nav_menu,
          .nav_menu_checked {
            text-align: center;
            padding: 3px 4px 0 4px;
            margin: 12px 2.3vw 0 2.3vw;
          }
          .nav_menu_checked {
            padding-bottom: 22px;
            border-bottom: 6px solid $green_grade_4;
          }
        }
      }
    }
  }
}
