@import "../../styles/util.module.scss";

@mixin login_box {
  display: flex;
  width: 70vw;
  margin: 8% auto;
  border-radius: 5px;
}
.auth_page {
  width: 100vw;
  height: 100%;

  .auth_box_wrapper {
    @include login_box;
    height: 70vh;
    align-items: center;
    box-shadow: 1px 2px 25px 2px rgba(44, 44, 44, 0.185);

    button {
      font-size: 16px;
      font-weight: 500;
      border-style: none;
      border-radius: 23px;
      height: 46px;
      margin-top: 10px;
      cursor: pointer;

      &:hover {
        transform: translate(0px, -1px);
      }
      &:active {
        transform: scale(0.98);
        box-shadow: none;
      }
      &:focus {
        outline: none;
      }
    }

    .auth_box {
      @include flex_col;
      align-items: center;
      position: relative;
      top: 18px;
      left: 7.5%;
      width: 300px;
      height: 400px;

      .input_wrapper {
        width: 100%;

        .animated_div {
          position: relative;
          margin-bottom: 10px;

          .animated_label {
            position: absolute;
            left: 2px;
            top: -10px;
            width: 100%;
            height: fit-content;
            opacity: 0.5;
            transition: 0.1s ease all;
            user-select: none;
            font-size: 18px;
            font-weight: 300;
            color: transparent;
            margin: 1.8vh 0 5px 0;
            padding-bottom: 2px;
            cursor: text;

            -webkit-user-select: none;
            -moz-user-select: none;

            &:after {
              content: "";
              position: absolute;
              bottom: -7px;
              left: 45%;
              height: 2px;
              width: 0px;
              visibility: hidden;
              background-color: $green_grade_4;
              transition: 0.3s ease all;
            }
          }

          input {
            position: relative;
            width: 100%;
            color: rgb(31, 31, 31);
            font-weight: 300;
            font-size: 18px;
            border: unset;
            background-color: unset;
            margin: 5px 0 14px 0;
            padding: 0 0 10px 3px;
            z-index: 1;
            border-bottom: 1px solid $gray;

            &:focus {
              border-color: transparent;
              outline: none;

              ~ .animated_label {
                opacity: 1;
                color: $green_grade_5;
                font-size: 15px;
                font-weight: 400;
                border: unset;
                padding-bottom: 33px;
                top: -37px;

                &:after {
                  width: 100%;
                  left: 0;
                  visibility: visible;
                }
              }
            }

            &:focus::placeholder {
              color: transparent;
            }
          }
        }

        .button_wrapper {
          @include flex_col;
          margin-top: 20px;

          .login_btn,
          .register_btn {
            border: none;
            color: white;
            background-color: $green_grade_4;

            &:hover {
              box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.116);
            }
          }
        }
      }
    }

    .division {
      @include flex_row;
      align-items: center;
      width: 100%;
      height: fit-content;

      padding: 20px 0px 10px 0px;

      p {
        font-size: 15px;
        font-weight: 300;
        text-align: center;
        padding: 0 10px 0 10px;
        color: rgb(121, 121, 121);
      }

      .border {
        display: flex;
        flex: 1;
        border-bottom: 1px solid $gray;
      }
    }

    .social {
      @include flex_col;
      width: 100%;

      .GoogleBtn,
      .KakaoBtn {
        font-weight: 400;
        color: rgb(56, 56, 56);
        border: 1px solid $gray;

        &:hover {
          box-shadow: 0px 2px 3px rgba(44, 44, 44, 0.11);
        }
      }
      .GoogleBtn{
        display: inline-block;
        margin : 5px;
        background: white;
        white-space: nowrap;
      };

      .GoogleIcon{
        background: url('./LogoImg/g-logo.png') transparent 5px 50% no-repeat;
        background-size : 60%;
        display: inline-block;
        vertical-align: middle;
        width: 42px;
        height: 42px;
      };

      .GoogleText{
        display: inline-block;
        vertical-align: middle;
        padding-left: 30px;
        font-size: 14px;
        font-weight: bold;
      };

      .KakaoBtn {
        display: inline-block;
        margin : 5px;
        background: #FEE500;
        white-space: nowrap;
        &:hover {
          cursor : pointer;
          box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2);
        }
      };

      .KakaoIcon{
        background: url('./LogoImg/k-logo.png') transparent 5px 50% no-repeat;
        background-size : 60%;
        display: inline-block;
        vertical-align: middle;
        width: 42px;
        height: 42px;
      };

      .KakaoText{
        display: inline-block;
        vertical-align: middle;
        padding-left: 22px;
        font-size: 14px;
        font-weight: bold;
      };
    }
  }

  .auth_background {
    @include login_box;
    height: 70.107vh;
    position: absolute;
    z-index: -99;
    background-color: white;
    background-image: url("../../img/login-bg.svg");
    background-repeat: no-repeat;
    background-position: right;

    .logo {
      position: absolute;
      left: 7%;
      top: 6%;

      width: 150px;
    }

    .header_sentence {
      color: white;
      position: absolute;
      right: 7%;
      top: 6%;

      height: fit-content;
      text-align: right;
      h3,
      h4 {
        padding-right: 2px;
      }
      h4 {
        font-size: 18px;
        font-weight: 400;
      }
      h3 {
        font-size: 22px;
        font-weight: 600;
      }
    }

    .bg_img {
      position: absolute;
      top: 18%;
      right: 7%;
      height: 70%;
    }
  }
}

.bg_side {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -100;
  width: 40vw;
  height: 100%;

  background-color: $green_grade_5;

  p {
    position: absolute;
    bottom: 30px;
    left: 50px;
    color: white;
    font-weight: 300;
    font-size: 14px;
  }
}
